/*-----------------------
  @VISIBILITY
------------------------*/
.is-hidden {
    display: none;
}

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
%hide-text {
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.hide-text {
    @extend %hide-text;
}

/*-----------------------
  @DEVICES
------------------------*/
.mobile {  
    @include bp($mobile-landscape) {
        display: none;
    }
}

.tablet-only {
    @include bp($foundation-small, $tablet) {
        display: none;
    }
    @include bp($switch-nav-medium) {
        display: none;
    }
}
.tablet-down {
    @include bp($tablet) {
        display: none;
    }
}
.tablet-up {
    @include bp($foundation-small, $tablet) {
        display: none;
    }
}

.desktop {
    @include bp($foundation-small, $switch-nav-medium) {
        display: none;
    }
}
.desktop-down {
    @include bp($switch-nav-medium) {
        display: none;
    }
}