/*-----------------------
  @VISIBILITY
------------------------*/
.is-hidden {
    display: none;
}

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
%hide-text {
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.hide-text {
    @extend %hide-text;
}

/*-----------------------
  @DECORATION
------------------------*/
%no-border {
    border: none;
}
.no-border {
    @extend %no-border;
}

%no-transform {
    text-transform: none;
}
.no-transform {
    @extend %no-transform;
}

%no-underline {
    text-decoration: none;
}
.no-underline {
    @extend %no-underline;
}

%normal-weight {
    font-weight: normal;
}
.normal-weight {
    @extend %normal-weight;
}

/*-----------------------
  @DEVICES
------------------------*/
.mobile {  
    @include bp($mobile-landscape) {
        display: none;
    }
}

.tablet-only {
    @include bp($foundation-small, $tablet) {
        display: none;
    }
    @include bp($switch-nav-medium) {
        display: none;
    }
}
.tablet-down {
    @include bp($tablet) {
        display: none;
    }
}
.tablet-up {
    @include bp($foundation-small, $tablet) {
        display: none;
    }
}

.desktop {
    @include bp($foundation-small, $switch-nav-medium) {
        display: none;
    }
}
.desktop-down {
    @include bp($switch-nav-medium) {
        display: none;
    }
}