/*-----------------------
  @DISPLAY
------------------------*/
%block {
    display: block;
}
.block {
    @extend %block;
}

%inline-block {
    display: inline-block;
}

.br {
    @include bp($tablet) {
        display: block;
    }
}

/*-----------------------
  @HEADINGS
------------------------*/
%mega-heading {
    font-size: 3em; /* 48 / 16 */
    line-height: 1em; /* (24 * 2) / 48  (double) */
    margin-bottom: .5em; /* 24 / 48 */
}
.mega-heading {
    @extend %mega-heading;
}

/*-----------------------
  @TYPE

  trying to conflict
------------------------*/
%upper {
    text-transform: uppercase !important;
}
.upper {
    @extend %upper;
}

%lower {
    text-transform: lowercase !important;
}
.lower {
    @extend %lower;
}

%underlined {
    text-decoration: underline;
}
.underlined {
    @extend %underlined;
}

%italic {
    font-style: italic;
}

%bold {
    font-weight: bold;
}

%font-display {
    font-family: $font-family-display;
}
.font-display {
    @extend %font-display;
}
%reversed {
    color: $color-reverse-heading;
}
.reversed {
    @extend %reversed;
}

%no-transform {
    text-transform: none;
}
.no-transform {
    @extend %no-transform;
}

%no-underline {
    text-decoration: none;
}
.no-underline {
    @extend %no-underline;
}

%normal-weight {
    font-weight: normal;
}
.normal-weight {
    @extend %normal-weight;
}

%color-primary {
    color: $color-primary;
}
.color-primary {
    @extend %color-primary;
}

/*-----------------------
  @LINKS
------------------------*/
.breadcrumbs {
    padding: 5% 0;

    @media screen and (min-width: $tablet) {
        padding: 2em 0;
    }
}

a.cta-text {
    @extend %upper;

    &:hover {
        @extend %no-underline;
    }

    @include bp($mobile-landscape) {
        font-size: .875em;
    }
}

/*-----------------------
  @LISTS
------------------------*/
%unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}
.unstyled {
    @extend %unstyled;
}

.split-list--double .sub-list {
    @extend %unstyled;
    float: left;
    width: 50%;
}

.split-list--double .split-list__item {
    padding-right: 10%;
 }

/*-----------------------
  @FIGURE
------------------------*/

/*-----------------------
  @COLORS
------------------------*/

/*-----------------------
  @DIMENSIONS
------------------------*/
.constrained {
    margin: 0 auto;
    max-width: 60em;
    width: 100%;
}

%full-width {
    width: 100%;
}
.full-width {
    @extend %full-width;
}

/*-----------------------
  @CLEARFIX
------------------------*/
%cf {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/*-----------------------
  @ALIGNMENT
------------------------*/
%centered {
    text-align: center;
}
.centered {
    @extend %centered;
}

%text-left {
    text-align: left;
}
.text-left {
    @extend %text-left;
}

%text-right {
    text-align: right;
}
.text-right {
    @extend %text-right;
}

// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
%vc {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*-----------------------
  @COLUMNS
------------------------*/
.text-columns-2 {

    @include bp($tablet) {
        columns: 2;
        column-gap: 3em;
    }
}
.text-columns-3 {

    @include bp($tablet) {
        columns: 3;
        column-gap: 3em;
    }
}

/*-----------------------
  @POSITIONING
------------------------*/
%push-left {
    float: left;
}
.push-left {
    @extend %push-left;
}
%push-right {
    float: right;
}
.push-right {
    @extend %push-right;
}

/*-----------------------
  @PADDING
------------------------*/

.push-bottom--half {
    padding-bottom: 5%;
}
.push-top--half {
    padding-top: 5%;
}


// pull
%pull-top {
    margin-top: -$row-padding-vertical;
    position: relative;
    z-index: 1;
}
.pull-top {
    @extend %pull-top;
    @include bp(0, $foundation-medium) {
        margin-top: -$row-padding-vertical * 2;
    }
}

%snug-top {
    margin-top: 0 !important;
    padding-top: 0 !important;
}
.snug-top {
    @extend %snug-top;
}

%snug-bottom {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.snug-bottom {
    @extend %snug-bottom;
}

%snug-left {
    padding-left: 0 !important;
}
.snug-left {
    @extend %snug-left;
}

%snug-right {
    padding-right: 0 !important;
}
.snug-right {
    @extend %snug-right;
}

.squeezed {
    @include squeezed;
}

.squeezed-2 {
    @include squeezed(2);
}

.squeezed-3 {
    @include squeezed(3);
}

/*-----------------------
  @BORDERS
------------------------*/
%border-top-grey {
    border-top: 1px solid $color-secondary;
}
.border-top-grey {
    @extend %border-top-grey;
}

%border-bottom-grey {
    border-bottom: 1px solid $color-secondary;
}
.border-bottom-grey {
    @extend %border-bottom-grey;
}

%no-border {
    border: none;
}
.no-border {
    @extend %no-border;
}

/*-----------------------
  @BACKGROUNDS
------------------------*/
.bg-grey {
    background-color: $color-grey-light-bg;
}
.bg-grey-dark {
    background-color: $color-grey-dark;
}

%bg-gradient {
    background-image: url('../images/backgrounds/products-bg.jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-gradient {
    @extend %bg-gradient;
}

/*-----------------------
  @SHADOWS
------------------------*/
%overlap {
    box-shadow: 0px 1px 7px 0px rgba(50, 50, 50, 0.25);
}
.overlap {
    @extend %overlap;
}

.top-shadow {
    background-image: url('../images/top-shadow.png');
    background-position: 50% 0%;
    background-repeat: repeat-x;
}

%shadowed--soft {
    box-shadow: 0px 1px 7px 0px rgba(50, 50, 50, 0.25);
}

%shadowed {
    box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.3);
}
.shadowed {
    @extend %shadowed;
}

%text-shadow {
    text-shadow: 1px 1px 1px #484646;
}
.text-shadow {
    @extend %text-shadow;
}

%underlap {
    box-shadow: inset 0px 4px 7px 0px rgba(50, 50, 50, 0.30);
}
.underlap {
    @extend %underlap;
}

.underlap--overlayed:after {
    @extend %underlap;
    content: '';
    display: block;
    height: 10px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

/*-----------------------
  @IMAGES
------------------------*/
.product-image {
    display: block;
}

/*-----------------------
  @PAGE ROWS
------------------------*/
%page-row {
    @extend %block;
    @extend %clearfix;
    padding: $row-padding-vertical $row-padding-horizontal;

}
.page-row {
    @extend %page-row;

    @include bp($my-medium) {
        padding-top: $row-padding-vertical / 2;
        padding-bottom: $row-padding-vertical / 2;
    }
    @include bp($my-switch-nav) {
        margin: auto;
        padding-right: $row-padding-horizontal * 3;
        padding-left: $row-padding-horizontal * 3;
    }
    @include bp($max) {
        padding-right: $row-padding-horizontal * 4;
        padding-left: $row-padding-horizontal * 4;
    }
}

.page-row--tall {
    @extend %page-row;

    @include bp($my-medium) {
        padding-top: $row-padding-vertical;
        padding-bottom: $row-padding-vertical;
    }
}