/*-----------------------
  @DISPLAY
------------------------*/
%block {
    display: block;
}
.block {
    @extend %block;
}

%inline-block {
    display: inline-block;
}

.br {
    @include bp($tablet) {
        display: block;
    }
}

/*-----------------------
  @HEADINGS
------------------------*/
%mega-heading {
    font-size: 3em; /* 48 / 16 */
    line-height: 1em; /* (24 * 2) / 48  (double) */
    margin-bottom: .5em; /* 24 / 48 */
}
.mega-heading {
    @extend %mega-heading;
}

/*-----------------------
  @TYPE

  trying to conflict
------------------------*/
%upper {
    text-transform: uppercase !important;
}
.upper {
    @extend %upper;
}

%lower {
    text-transform: lowercase !important;
}
.lower {
    @extend %lower;
}

%underlined {
    text-decoration: underline;
}

%italic {
    font-style: italic;
}

%bold {
    font-weight: bold;
}

%font-display {
    font-family: $font-family-display;
}
.font-display {
    @extend %font-display;
}
%reversed {
    color: $color-reverse-heading;
}
.reversed {
    @extend %reversed;
}

%no-transform {
    text-transform: none;
}
.no-transform {
    @extend %no-transform;
}

%no-underline {
    text-decoration: none;
}
.no-underline {
    @extend %no-underline;
}

%normal-weight {
    font-weight: normal;
}
.normal-weight {
    @extend %normal-weight;
}

/*-----------------------
  @LINKS
------------------------*/
.breadcrumbs {
    padding: 5% 0;

    @media screen and (min-width: $tablet) {
        padding: 2em 0;
    }
}

/*-----------------------
  @LISTS
------------------------*/
%unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}
.unstyled {
    @extend %unstyled;
}

.split-list--double .sub-list {
    @extend %unstyled;
    float: left;
    width: 50%;
}

.split-list--double .split-list__item {
    padding-right: 10%;
 }

/*-----------------------
  @FIGURE
------------------------*/

/*-----------------------
  @COLORS
------------------------*/

/*-----------------------
  @DIMENSIONS
------------------------*/
.constrained {
    margin: 0 auto;
    max-width: 60em;
    width: 100%;
}

%full-width {
    width: 100%;
}
.full-width {
    @extend %full-width;
}

/*-----------------------
  @CLEARFIX
------------------------*/
%cf {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/*-----------------------
  @CENTERING
------------------------*/
%centered {
    text-align: center;
}
.centered {
    @extend %centered;
}

%text-left {
    text-align: left;
}
.text-left {
    @extend %text-left;
}

%text-right {
    text-align: right;
}
.text-right {
    @extend %text-right;
}

// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
%vc {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*-----------------------
  @COLUMNS
------------------------*/
.text-columns-2 {

    @include bp($tablet) {
        columns: 2;
        column-gap: 3em;
    }
}
.text-columns-3 {

    @include bp($tablet) {
        columns: 3;
        column-gap: 3em;
    }
}

/*-----------------------
  @POSITIONING
------------------------*/
%push-left {
    float: left;
}
.push-left {
    @extend %push-left;
}
%push-right {
    float: right;
}
.push-right {
    @extend %push-right;
}

/*-----------------------
  @PADDING
------------------------*/
%snug-top {
    margin-top: 0 !important;
    padding-top: 0 !important;
}
.snug-top {
    @extend %snug-top;
}

%snug-bottom {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.snug-bottom {
    @extend %snug-bottom;
}

%snug-left {
    padding-left: 0 !important;
}
.snug-left {
    @extend %snug-left;
}

%snug-right {
    padding-right: 0 !important;
}
.snug-right {
    @extend %snug-right;
}

.squeezed {
    @include squeezed;
}

.squeezed-2 {
    @include squeezed(2);
}

.squeezed-3 {
    @include squeezed(3);
}

/*-----------------------
  @BORDERS
------------------------*/
%border-top-grey {
    border-top: 1px solid $color-secondary;
}
.border-top-grey {
    @extend %border-top-grey;
}

%border-bottom-grey {
    border-bottom: 1px solid $color-secondary;
}
.border-bottom-grey {
    @extend %border-bottom-grey;
}

%no-border {
    border: none;
}
.no-border {
    @extend %no-border;
}

/*-----------------------
  @SHADOWS
------------------------*/
%overlap {
    box-shadow: 0px 1px 7px 0px rgba(50, 50, 50, 0.25);
}
.overlap {
    @extend %overlap;
}

.top-shadow {
    background-image: url('../images/top-shadow.png');
    background-position: 50% 0%;
    background-repeat: repeat-x;
}

/*-----------------------
  @IMAGES
------------------------*/
.product-image {
    display: block;
}