// layout

// dimensions
$page-max-width: 1800px;
$ps-masthead-height: 120px;
$ps-masthead-mobile: 80px;
$masthead-height: 78px;
$masthead-border: 1px;
$masthead-mobile: 70px;
$icon: 44px;
$icon-play: 66px;
$row-padding-horizontal: 5%;
$row-padding-vertical: 10%;
$padding-card: 30px;

// button dimensions
$d-icon: 44px;
$d-icon-play: 66px;
$d-btn-scroll: 40px;
$d-btn-square: 72px;

// breakpoints
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$my-small: 500px;
$tablet: 768px;
$switch-nav-large: 1250px;
$my-large: 1300px;
$my-very-large: 1600px;
$my-switch-nav: 63.75em;
$max: $page-max-width;
$foundation-small: 0px !default; // foundation
$foundation-med: 642px !default; // foundation
$foundation-large: 1026px !default; // foundation
$modal-is-enabled: $foundation-large;
$tablet-landscape: 1024px;

//*(CHECK ME!)
$my-medium: 43.75 em; // 700 / 16
$foundation-medium: 641px !default; // foundation


// colors
$color-default: #383d3f;
$color-default-light: #606567;
$color-primary: #ec1d25;
$color-secondary: #e5e5e5;
$color-grey: #7f7f7f;
$color-grey-light: #9ba0a2;
$color-grey-light-bg: #f5f5f5;
$color-grey-dark: #383d3f;
$color-blue: #24b9f1;
$color-blue-dark: #186d8d;
$color-footer-bg: #242728;
$color-green: #43bea9;
$color-green-dark: #268f7c;
$color-grey-border: #dfdfdf;
$color-grey-dark-border: #4a4f50;
$color-input-bg: #54595c;
$color-label: #c6c6c6;
$color-red-hover: #d9171f;
$color-reverse-heading: #fff;
$color-reverse: #dfdfdf;
$color-paid-search: #737475;
$color-social-icons: #5f6c71;
$color-text-light: #f0f0f0;
$overlay: $color-footer-bg;
$colot-paragraph-grey: #6e7375;

// new colors
// whites
$color-page: #fff;
$color-reversed: #fff;
$color-whitesmoke: #f7f7f7;
$color-whitesmoke-dark: #efeeee;
$color-alabaster: #f5f5ef;
$color-zircon: #f3f4f4;

// greys
$color-gainsboro: #dfdfdf; // borders
$color-silver: #a7a7a7;
$color-trout: #595e5f;
$color-montana: #363a3c;
$color-cod-grey: #2b2f30;
$color-cod-grey-dark: #272b2c;



// typography
$font-family-default: 'Helvetica', sans-serif;
$font-family-display: 'Montserrat', sans-serif;
$font-family-display-regular: 'montserratregular', sans-serif;
$font-family-display-light: 'montserratlight', sans-serif;

$font-size-default: 1em;
$line-height-default: 1.5;