.about-velux {
    div {
        padding: 1.5em 0 2.5em;
    }
}
.about-dealer {

    .about-dealer-text {
        line-height: 2;
    }
    .about-dealer-image {
        display: inline-block;
        margin-bottom: 3em;

        img {
            max-height: 250px;
            max-width: 300px;
        }
    }
    .credentials-title {
        margin-top:40px;
    }
}

.gallery {

    @include bp($foundation-small, $tablet) {
        padding: 0;
    }

    @include bp($tablet, $my-large) {
        padding: 88px;
    }
    @include bp($my-large, $my-very-large) {
        padding: {
            left: 10%;
            right: 10%;
        }
    }
}

.our-principles {

    h2 {
        margin-bottom: 5%;
    }

    header {
        p {
            font-size: 1.15em;
        }
    }

    @include bp($foundation-small, $tablet) {
        padding: {
            left: 0;
            right: 0;
        }
    }
    @include bp($my-large) {
        padding: {
            left: 13%;
            right: 13%;
        }
    }
}
.principles {
    margin-top: 10%;

    .row {
        @include bp($tablet) {
            display: table;
        }
    }

    .principle-container {
        border-top: 1px solid $color-grey-border;
        /*font-family: $font-family-display;*/
        padding: 12% 18%;
        text-align: center;

        p {
            margin-bottom: 0;
        }

        @include bp($tablet) {
            display: table-cell;
            float: none !important;
            padding: 6% 5%;
            width: 33.33333%;

            &:nth-child(1n + 2) {
                border-left: 1px solid $color-grey-border;
            }
        }
    }

    @include bp($tablet) {
        border: {
            bottom: 1px solid $color-grey-border;
            left: 1px solid $color-grey-border;
            right: 1px solid $color-grey-border;
        }
        margin-top: 7%;
    }
}