.brochures {
    text-align: center;

    .brochure {
        margin-bottom: 3.5em;

        .brochure__image {
            margin-bottom: 1.25em;
        }
        h4 {
            margin-bottom: .5em;
            text-transform: none;
        }
        p {
            margin: {
                bottom: 1.25em;
                top: .75em;
            }
        }
    }

    [class*=column]+[class*=column]:last-child {
        float: left;
    }

    .brochure:nth-child(2n + 1) {

        @include bp($foundation-med, $foundation-large) {
            clear: left;
        }
    }
}