.product-row-container {
    h2 {
        margin-bottom: 5%;
    }
}
.product-row-container:first-child {
    border-top: 0;
}
.product-row {
    color: $color-default-light;

    .product-title {
        color: $color-default;
        display: inline-block;
        margin-top: 1em;

        &:hover {
            text-decoration: none;
        }
    }
    p {
        margin: {
            bottom: 10px; 
            top: 0;
        }
    }

    @include bp($foundation-small, $foundation-med) {
        .columns {
            margin-bottom: 25px;
        }
    }
}


/*-----------------------
  @RESIDENTIAL SKYLIGHTS
------------------------*/
.hero--residential {
    background-image: url('../images/categories/residential-hero.jpg');

    @include bp($foundation-med, $tablet) {
        background-position-x: 10px !important;
    }
}