.page-row--category {
    padding: {
        left: 5%;
        right: 5%;
    }

    [class*=column]+[class*=column]:last-child {
        float: left;
    }
    .header-statement {
        padding: 0;

        h2 {
            padding: 0 5%;
        }

        @include bp($foundation-med) {
            text-align: left;
        }
    }
}
.product-row-container {
    h2 {
        margin-bottom: 5%;
    }
}
.product-row-container:first-child {
    border-top: 0;
}
.product-row {
    color: $color-default-light;

    .product-image {
        padding: 10%;
    }
    .product-title {
        color: $color-default;
        display: inline-block;

        &:hover {
            text-decoration: none;
        }
    }
    p {
        margin: {
            bottom: 10px; 
            top: 0;
        }
    }

    @include bp($foundation-small, $foundation-med) {
        .columns {
            margin-bottom: 25px;
        }
    }
}

.bv-inline-rating {
    position: absolute;
    left:50%;
    margin-left:-50px;
}

/*-----------------------
  @RESIDENTIAL SKYLIGHTS
------------------------*/
.hero--residential-1,
.hero--residential-2,
.hero--residential-3,
.hero--suntunnel-1,
.hero--suntunnel-2,
.hero--commercial-1,
.hero--commercial-2 {
    background-position: 50% 50%;
    background-size:cover;
}
.hero--residential-1 {
    background-image: url('../images/carousels/residential-products-hero-kitchen.jpg');
    background-position: 0 50%;
}
.hero--residential-2 {
    background-image: url('../images/carousels/residential-products-hero-bathroom.jpg');
    background-position: 100% 100%;
}
.hero--residential-3 {
    background-image: url('../images/carousels/residential-products-hero-bedroom.jpg');
}
.hero--suntunnel-1 {
    background-image: url('../images/carousels/sun-tunnel-products-hero-hallway.jpg');
    background-position: 50% 0;
}
.hero--suntunnel-2 {
    background-image: url('../images/carousels/sun-tunnel-products-hero-entrance.jpg');
    background-position: 50% 20%;
}
.hero--commercial-1 {
    background-image: url('../images/carousels/commercial-products-hero-classroom.jpg');
}
.hero--commercial-2 {
    background-image: url('../images/carousels/commercial-products-hero-garage.jpg');
}
