.contact-form {
    margin-top: 30px;

    .updates {
        @include bp($foundation-med) {
            margin-top: 3em;
        }
    }

    input, textarea, select {
        border: 1px solid $color-label;
        display: block;
        font-size: 1em;
        line-height: 1.25em;
        padding: .75em;

        &[type="submit"] {
            @extend %btn;
            margin-top: 25px;
        }
    }
    label {
        display: block;
        line-height: 1.75em;
        margin-top: 15px;
    }
    textarea {
        min-height: 224px;

        @include bp($my-very-large) {
            min-height: 245px;
        }
    }

    @include bp($foundation-large) {
        margin-top: 0;
    }
}

.contact-info {

    .hours {
        @include bp($foundation-med) {
            margin-top: 15px;
        }
    }
}
.address-and-form {

    @include bp($foundation-small, $foundation-large) {
        padding-top: 5%
    }
}
.contact-info {

    @include bp($foundation-small, $foundation-large) {
        padding-bottom: 6%;
    }
}
.dealer-info--contact {
    margin-top: 1em;
}

#contact-map {
    display:none;
    @include bp($tablet) {
        display:block;
    }
}