.installing {
    background-image: url('../images/backgrounds/installing-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include bp($foundation-small, $tablet) {

        .video {
            padding: 0;
            width: 100%;
        }

        .what-to-expect {
            margin-top: 30px;
            width: 100%;
        }
    }
}
.skylight-orientation {

    p {
        margin-bottom: 0;
    }
}
.skylight-exposure {

    .columns {
        padding: 0;
    }

    @include bp($foundation-small, $foundation-med) {
        border-top: none;
        padding: 0 0 10%;
    }
}
.centered-half {
    @extend %centered;
    padding: 8% 5%;

    p {
        color: $color-default-light;
    }

    @include bp($foundation-small, $foundation-med) {
        padding: 0 5%;
    }
}
.centered-half--squeezed {

        &.first {

            @include bp($foundation-med) {
                padding: {
                    left: 20%;
                    right: 10%;
                }
            }
            @include bp($tablet) {
                padding: {
                    left: 30%;
                    right: 20%;
                }
            }
        }
        &.last {

            @include bp($foundation-med) {
                border-left: 1px solid $color-secondary;
                padding: {
                    left: 10%;
                    right: 20%;
                }
            }
            @include bp($tablet) {
                padding: {
                    left: 20%;
                    right: 30%;
                }
            }
        }
}

.statement-images--installing {
    margin-bottom: 40px;

    .new:after {
        content: 'NEW';
        left: 5%;
        top: 5%;
    }
    .old:after {
        content: 'OLD';
        bottom: 5%;
        right: 5%;
    }
    .statement-image-container {
        display: inline-block;

        @include bp($foundation-small, $foundation-med) {
            text-align: center;

            &.old {
                margin-bottom: 30px;
            }
        }
    }
    .statement-image-container:after {
        @include circle(100%, 60px);
        @extend %bold;
        @extend %centered;
        background: #fcfcfc;
        background: linear-gradient(#FCFCFC 0px, #F0F0F0 100%);
        border: 3px solid $color-reverse-heading;
        box-shadow: 0 1px 5px 0 rgba(50,50,50,.25);
        color: $color-default-light;
        display: block;
        font-size: 13px;
        height: 60px;
        line-height: 4.5;
        position: absolute;
        width: 60px;
        z-index: 30;
    }
    .statement-image {
        border: 5px solid $color-reverse-heading;
        box-shadow: 0 1px 7px 0 rgba(50,50,50,.25);
        height: 100%;
        position: relative;
    }
    .text-right, .text-left {

        @include bp($foundation-small, $foundation-med) {
            text-align: center;
        }
    }
}

.replacing {
    background-color: #000;
    background-image: url('../images/backgrounds/replacing-bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20%;

    .first {
        @include bp($foundation-small, $foundation-med) {
            padding: 0;
        }
        @include bp($foundation-large) {
            padding-right: 20%;
        }
    }

    .last {

        .incentives {

            display:none;

            @include bp($foundation-med) {
                display:block;
            }

            @include bp($foundation-large) {
                margin: 40px auto 0;
                width: 490px;
            }
            @include bp($my-very-large) {
                width: 540px;
            }
        }
        .incentive {
            display: inline-block;
            margin: 0 10px;
            vertical-align: top;

            @include bp($foundation-small, $tablet) {
                display: block;
                margin: 0 auto 15px;
            }
        }

        @include bp($foundation-small, $tablet) {
            padding: 0;
        }
    }

    @include bp($foundation-small, $foundation-med) {
        background-position-x: -460px;
        background-position-y: -10px;
        background-size: 1160px;
        padding-bottom: 5%;
    }
}

.after-installation {
    background-image: url('../images/backgrounds/after-installing-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;

    @include bp($my-large) {
         padding-right: 20%;
         padding-left: 20%;
    }

    .brochure {
        text-align: right;

        img {
            margin-bottom: 20px;
            position: relative;
            z-index: 20;

            @include bp($foundation-med) {
                bottom: -40px;
            }
        }

        @include bp($foundation-small, $foundation-med) {
            margin: 0 auto;
            text-align: center;
            width: 50%;
        }
    }
    .first {

        @include bp($foundation-small, $foundation-med) {
            text-align: center;
            padding-right: 0;
        }
    }

    .last {
        @include bp($foundation-small, $foundation-med) {
            padding: 0;
        }
    }
}


header{
    p.squeezed-3 {
        color: $colot-paragraph-grey;
    }

    p.squeezed-3.color-montana{
        color: $color-montana;
    }
}

.skylight-orientation{
    .header-statement{
        h2{
            font-weight: 700;
        }
    }
}

.page-row {
    .reversed.text-shadow{
        text-transform: uppercase;
    }
}

.find-installers{
    color: $colot-paragraph-grey;

    .btn{
        letter-spacing: 2px;
    }

    @media only screen and (min-width: 768px){
        .polaroid:after{
            height:0px;
        }
    }

    @media only screen and (max-width: 750px){
        .polaroid--round{
            display:none;
        }

        .medium-6{
            width:100%;
        }
    }
}

.constrained.vs{
    @include clearfix();
}

.vs__item{
    .vs__heading{
        font-weight: 200;
    }
}

.ceiling-style__item{
    .card{
        text-align: left;
    }
}


.slick__item.ceiling-style__item {
    margin: 20px 11px;

    .slick-initialized & {
        margin-top: 0;
        margin-bottom: 0;

        .modal & {
            margin: 10px;
        }
    }

    .card.shadowed{
        figure{
            margin:0;
        }
    }
}

.btn-play--centered{
    .icon-play:before{
        opacity: 0;
    }
    .icon-play{
        border: 2px solid #fff;
    }
}

.beta{
    text-transform: uppercase;

    @media only screen and (max-width: 800px){
        .br {
            display: inline;
        }
    }
}






