/*-----------------------
  @GENERAL-USE
------------------------*/
.full-height-wrapper {
    height: 100%;
    overflow: hidden;
}
.full-tablet {
    color: $color-paid-search;
    padding-bottom: 2.5em;

    h4 {
        margin-bottom: .75em;
    }

    @include bp($foundation-med, $foundation-large) {
        width: 100%;
    }
    @include bp($foundation-large) {
        margin-right: 3%;
        width: 63.66667%;
    }
}
.cta-padding {
    padding-bottom: 8em;
}
.short-top {
    padding-top: 6%;

    @include bp($foundation-large) {
        padding-top: 4%;
    }
}
.ps-section {

    .columns {

        &.medium-8 {

            @include bp(1024px) {
                margin-right: 3%;
                width: 63.66667%;
            }
        }

        @include bp($mobile-landscape) {
            padding-left: .25em;
        }
    }
    .incentive,
    img,
    i {

        @include bp($foundation-small, $foundation-med) {
            display: none;
        }
    }
}
#ps-form-anchor {
  display: none;
  height: 170px;
  margin-top: -170px;
  visibility: hidden;
}
.ps-welcome-wrapper {
    @extend %bg-gradient;
    padding-top: 4%;

    .intro-statement {
        padding-bottom: 4%;

        h1 {
            margin-bottom: 0;
        }
    }
    .ps-welcome {
        height: 310px;

        .ps-hero {
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;

            .energy-star-icon,
            .incentive {
                left: 10%;
                position: absolute;
                top: 15%;
            }
            .energy-star-icon {
                width: 6em;
            }

            @include bp($foundation-small, $tablet) {
                background-position: 90% 50%;
                width: 100%;
            }
            @include bp($tablet, 1024px) {
                background-position: 50% 50%;
                width: 60%;
            }
        }
        .ps-form {
            height: 100%;

            form {
                background: $color-grey-dark;
                height: 100%;
                padding: 5% 7%;
                position: relative;
                width: 100%;

                .confirm_email {
                    display: none;
                    visibility: hidden;
                }
                .first-label {
                    margin-top: 2.75em;
                }
                .form-grey-border {
                    background: #484b4d;
                    display: block;
                    height: 1px;
                    left: 0;
                    position: absolute;
                    right: 0;
                }
                .columns,
                .row {
                    position: static;
                }

                h4 {
                    @extend %normal-weight;
                    color: $color-reverse-heading;
                    margin: .75em 0 1em;
                }
                input, textarea {
                    background: $color-input-bg;
                    border: 0;
                    display: block;
                    padding: .75em;

                    &[type="submit"] {
                        @extend %btn;
                        margin-top: 25px;
                        padding: 1em 3em;
                    }
                    &:focus {
                        background: $color-grey-light;
                        outline: none;
                    }

                    @include bp($foundation-large) {
                        line-height: 1.25;
                        padding: 1em;
                    }
                }
                label {
                    color: $color-label;
                    display: block;
                    font-family: $font-family-display;
                    font-size: .875em;
                    line-height: 1.25;
                    margin: 1.5em 0 .25em;

                    @include bp($foundation-large) {
                        line-height: 1.5;
                        margin: 1.75em 0 .25em;
                    }
                }
                textarea {
                    min-height: 120px;

                    @include bp($foundation-large) {
                        min-height: 150px;
                    }
                }

                @include bp($my-very-large) {
                    padding: 5% 8%;
                }
            }

            @include bp($foundation-small, $tablet) {
                display: none;
            }
            @include bp($tablet, 1024px) {
                width: 40%;
            }
        }
        .welcome-list-wrapper {
            height: 100%;

            .welcome-list {
                background: $color-reverse-heading;
                box-shadow: 1px 1px 1px 0 rgba(220,220,220,1);
                height: 100%;
                padding: 5% 7%;

                .columns,
                .row {
                    position: static;
                }
                .form-grey-border {
                    background: $color-secondary;
                    display: block;
                    height: 1px;
                    left: 0;
                    position: absolute;
                    right: 0;
                }

                h4 {
                    margin-top: .75em;
                }
                ul {
                    color: $color-paid-search;
                    margin-top: 3em;
                    list-style-position: inside;
                }

                @include bp($my-very-large) {
                    padding: 5% 8%;
                }
            }

            @include bp($foundation-small, $tablet) {
                display: none;
            }
            @include bp($tablet, 1024px) {
                width: 40%;
            }
        }

        @include bp($mobile-landscape) {
            height: 350px;
        }
        @include bp($foundation-med) {
            height: 420px;
        }
        @include bp($tablet) {
            height: 580px;
        }
        @include bp($foundation-large) {
            height: 680px;
        }
        @include bp($my-very-large) {
            height: 730px;
        }
    }

    @include bp($foundation-small, $tablet) {
        padding: {
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}
.product-statement {

    .ps-form {
        margin-right: .975rem;
        position: absolute;
        right: 5%;
        top: 3.5em;
        width: 27.5%;
        z-index: 1;

        form {
            background: $color-grey-dark;
            padding: 5% 7%;
            width: 100%;

            .confirm_email {
                display: none;
                visibility: hidden;
            }
            .first-label {
                margin-top: 2.75em;
            }
            .form-grey-border {
                background: #484b4d;
                display: block;
                height: 1px;
                left: 0;
                position: absolute;
                right: 0;
            }
            .columns,
            .row {
                padding: 0;
                position: static;
            }

            h4 {
                @extend %normal-weight;
                color: $color-reverse-heading;
                margin: .75em 0 1em;
            }
            input, textarea {
                background: $color-input-bg;
                border: 0;
                display: block;
                padding: .75em;

                &[type="submit"] {
                    @extend %btn;
                    margin-bottom: 2em;
                    margin-top: 25px;
                    padding: 1em 3em;
                }
                &:focus {
                    background: $color-grey-light;
                    outline: none;
                }

                @include bp($foundation-large) {
                    line-height: 1.25;
                    padding: 1em;
                }
            }
            label {
                color: $color-label;
                display: block;
                font-family: $font-family-display;
                font-size: .875em;
                line-height: 1.25;
                margin: 1.5em 0 .25em;

                @include bp($foundation-large) {
                    line-height: 1.5;
                    margin: 1.75em 0 .25em;
                }
            }
            textarea {
                min-height: 120px;

                @include bp($foundation-large) {
                    min-height: 150px;
                }
            }

            @include bp($my-very-large) {
                padding: 5% 8%;
            }
        }

        @include bp($foundation-small, 1024px) {
            display: none;
        }
        @include bp($my-large) {
            top: 4.5em;
            width: 27.85%;
        }
        @include bp($my-very-large) {
            width: 28.125%;
        }
    }
    .statement {
        padding-bottom: 1em;

        &.cta-padding {
            padding-bottom: 6em;
        }

        h4 {
            color: $color-default;
            line-height: 1.75;

            @include bp($tablet) {
                padding-right: 35%;

                &.no-image {
                    padding-right: 0;
                }
            }
        }
        img.skylight,
        img.big-blinds {
            display: block;

            @include bp($tablet) {
                margin-top: 0;
                position: absolute;
                right: -30px;
                width: 250px;
            }
            @include bp($foundation-large) {
                right: -20px;
                width: 220px;
            }
            @include bp($my-large) {
                right: -5px;
                width: 260px;
            }
            @include bp($my-very-large) {
                right: -15px;
                width: 300px;
            }
        }
        img.big-blinds {
            display: block;
            margin: 2em auto 1em;

            @include bp($tablet) {
                top: -50px;
            }
            @include bp($foundation-large) {
                top: -30px;
            }
            @include bp($my-large) {
                top: -60px;
            }
            @include bp($my-very-large) {
                top: -80px;
            }
        }
        img.skylight {
            bottom: -2em;
            margin: 0 auto;
            position: relative;
            width: 200px;

            @include bp($tablet) {
                position: absolute;
                top: -30px;
            }
            @include bp($foundation-large) {
                top: -5px;
            }
            @include bp($my-large) {
                top: -20px;
            }
            @include bp($my-very-large) {
                top: -10px;
            }
        }
    }
}

.ps-list {
    list-style: none;
    padding-left: 1.125em;

    &.ps-list--margin {
        margin-bottom: 65px;
    }

    li {
        margin-bottom: 1em;
    }
    li:before {
        color: $color-primary;
        content: '•';
        display: block;
        left: -20px;
        max-height: 0;
        max-width: 0;
        position: relative;
    }
}

.ps-cta {
    bottom: 0;
    left: 0;
    position: absolute;

    div {
        float: left;
    }
    span {
        display: block;
    }

    .cta {
        border: {
            bottom: 0;
            left: 0;
            right: 1px solid $color-secondary;
            top: 1px solid $color-secondary;
        }
        color: $color-paid-search;
        font-family: $font-family-display;
        font-size: .875em;
        padding: 1em;

        .number {
            @extend %color-primary;
            font-size: 1.25em;
            line-height: 1.25;
        }
    }
    .phone {
        border: {
            bottom: 0;
            left: 1px solid $color-secondary;
            right: 1px solid $color-secondary;
            top: 1px solid $color-secondary;
        }
        padding: 1.25em;

        .icon-phone {
            display: block;
            height: 27px;
            line-height: 0;
            width: 27px;

            @include bp($mobile-landscape) {
                height: 31px;
                width: 31px;
            }
            @include bp($my-very-large) {
                height: 36px;
                width: 36px;
            }
        }
    }
}

/*-----------------------
  @BACKGROUNDS
------------------------*/
.ps-welcome {

    .ps-hero {

        &.commercial-st {
            background-image: url('../images/carousels/commercial-products-hero-garage.jpg');
        }
        &.efficiency {
            background-image: url('../images/categories/residential-hero.jpg');
            background-position: 80% 50%;
        }
        &.hail-damage {
            background-image: url('../images/ps/hail-damage-hero.jpg');
            background-position: 20% 50%;
        }
        &.repair {
            background-image: url('../images/ps/repair-hero.jpg');
            background-position: 50% 80%;
        }
        &.replacement {
            background-image: url('../images/ps/replacement-hero.jpg');
            background-position: 30% 50%;
        }
        &.skylight-blinds {
            background-image: url('../images/ps/blinds-hero.jpg');
        }
        &.sun-tunnel {
            background-image: url('../images/ps/sun-tunnel-hero.jpg');
            background-position: 40% 50%;
        }
        &.vss-no-leak {
            background-image: url('../images/categories/residential-hero.jpg');
            background-position: 80% 50%;
        }
    }
}


/*-----------------------
  @GENERIC SECTIONS
------------------------*/
.why-velux {

    img {
        float: right;
    }
    ul {
        @include bp($foundation-med) {
            padding-right: 33%;
        }
    }
}

.no-leak-skylight {

    .icon-no-leak {
        float: left;
        height: 110px;
        margin-bottom: 1em;
        margin-right: 4em;
        width: 110px;
    }
}

.clean-quite-safe {

    img {
        border-radius: 100%;
        float: left;
        width: 25%;
    }

    h4,
    p {
        @include bp($foundation-med) {
            margin-left: -1.125em;
            padding-left: 33%;
        }
    }
    ul {
        @include bp($foundation-med) {
            padding-left: 33%;
        }
    }
}

/*-----------------------
  @NO LEAK
------------------------*/
.complete-system {

    h4 {
        margin-top: 1em;
    }
    img {
        float: right;
        margin-bottom: 1em;
        width: 25%;
    }
    p {
        @include bp($foundation-med) {
            padding-right: 33%;
        }
    }
}
.installation-methods {

    img {
        float: left;
        width: 25%;
    }

    h4,
    p {
        @include bp($foundation-med) {
            padding-left: 33%;
        }
    }
}

/*-----------------------
  @REPLACEMENT
------------------------*/
.energy-performance {

    img {
        float: right;
        width: 25%;
    }

    ul {
        @include bp($foundation-med) {
            padding-right: 33%;
        }
    }
}

.tax-credit-row {
    padding-top: 5%;

    .cta-padding {
        padding-bottom: 5em;
    }
    .incentive {
        float: right;
    }

    ul {
        @include bp($foundation-med) {
            padding-right: 33%;
        }
    }

    @include bp($foundation-large) {
        padding-top: 3%;
    }
}

.reroofing {
    img {
        border-radius: 100%;
        float: left;
        width: 25%;
    }
    p {
        @include bp($foundation-med) {
            margin-left: -1.125em;
            padding-left: 33%;
        }
    }
    ul {
        @include bp($foundation-med) {
            padding-left: 33%;
        }
    }
}

/*-----------------------
  @HAIL DAMAGE
------------------------*/
.blue-skylight {

    &.cta-padding.statement {

        @include bp($foundation-med) {
            padding-bottom: 2.5em;
        }
        @include bp($tablet) {
            padding-bottom: 2em;
        }
    }

    h4 {

        @include bp($foundation-med) {
            padding-right: 35%;
        }
    }
    img {
        display: none;
        float: right;
        position: relative;
        top: -1.5em;
        width: 25%;

        @include bp($foundation-med) {
            display: block;
        }
    }
}

.tax-credit-row.left-side {

    .full-tablet {

        @include bp($foundation-med) {
            padding-bottom: 1.5em;
        }
    }
    .incentive {
        float: left;
        position: relative;
        left: 4%;
        top: -1.5em;

        @include bp($tablet) {
           left: 8%; 
        }
        @include bp($foundation-large) {
           left: 5%; 
        }
        @include bp($my-large) {
           left: 8%; 
        }
    }

    p {
        margin-bottom: 0;

        @include bp($foundation-med) {
            padding-left: 33%;
        }
    }

}
.clean-quite-safe.right-side {

    img {
        float: right;
    }

    h4,
    p {
        @include bp($foundation-med) {
            margin-left: 0;
            margin-right: -1.125em;
            padding-left: 0;
            padding-right: 34%;
        }
    }
    ul {
        @include bp($foundation-med) {
            padding-left: 1.125em;
            padding-right: 33%;
        }
    }
}

/*-----------------------
  @ENERGY EFFICIENT
------------------------*/

.energy-star {

    img {
        float: left;
        width: 125px;
    }

    .statement h4 {
        @include bp($foundation-med) {
            padding-left: 9.5em;
        }
    }
    ul {
        @include bp($foundation-med) {
            padding-left: 12em;
        }
    }
}

/*-----------------------
  @BLINDS
------------------------*/
.blind-examples {

    .blinds-container {

        .blind-example {
            margin-bottom: 3em;

            @include bp($foundation-med) {
                padding: {
                    left: 9em;
                    right: 8em;
                    top: 1em;
                }
            }
        }
        .row {
            margin: {
                left: 0;
                right: 0;
            }
        }

        img {
            float: left;
            width: 100px;
        }
    }

    & .columns.cta-padding {
        padding-bottom: 5em;
    }

    p {
        margin-top: 0;
    }
}

.tax-credit--short {

    .incentive {

        @include bp($foundation-med) {
            margin-right: 1.5em;
        }
    }
    h4 {
        color: $color-default;
        padding-top: 2.5em;

        @include bp($foundation-med) {
            padding-right: 45%;
        }
    }
}

/*-----------------------
  @COMMERCIAL SUN-TUNNEL
------------------------*/
.features {

    img {
        float: right;
        width: 25%;
    }
    p,
    ul {

        @include bp($foundation-med) {
            padding-right: 33%;
        }
    }
}

.tcr-model {

    & .columns.cta-padding {
        padding-bottom: 3em;

        @include bp($foundation-large, $switch-nav-large) {
            padding-bottom: 5em;
        }
    }

    img {
        float: right;
        width: 25%;
    }
    p,
    ul {

        @include bp($foundation-med) {
            padding-right: 33%;
        }
    }
}

.why-velux-2 {

    img {
        float: left;
        margin-left: 2em;
    }
    ul {
        @include bp($foundation-med) {
            margin-top: 0;
            padding-left: 33%;
        }
    }
}

/*-----------------------
  @SUN-TUNNEL
------------------------*/
.sun-tunnel-statement {

    .statement h4 {
        
        @include bp($foundation-med) {
            padding-right: 30%;
        }
    }
    .statement {

        @include bp($foundation-med) {
            padding-bottom: 6em;
        }
    }
    img {
        position: absolute;
        right: 0;
        top: .5em;
        width: 30%;
    }
    ul {
        margin-top: 2em;
        
        @include bp($foundation-med) {
            padding-right: 35%;
        }
    }
    & .statement.cta-padding {
        padding-bottom: 8em;
    }
}

.diffuser {

    img {
        float: left;
        max-width: 200px;
        width: 25%;
    }

    p {
        margin-bottom: 0;

        @include bp($foundation-med) {
            margin-top: 9%;
            padding-left: 33%;
        }
    }
}

.why-velux-2.right-side {

    img {
        float: right;
        margin-right: 2em;
        margin-top: 2.75em;
    }
    ul {
        @include bp($foundation-med) {
            margin-top: 1em;
            padding-left: 1.125em;
            padding-right: 33%;
        }
    }
}