.product-detail {
    // font-family: $font-family-display;

    .columns {
        @include bp($foundation-small, $tablet) {
            width: 100%;
        }
    }
    .product-description {

        .product-description--text {
            margin-bottom: 1.75em;

            ul {
                margin-bottom: 0;
            }
        }
        .product-category {
            color: $color-primary;
            font-family: $font-family-display;
            margin: 0 auto .5em;
            padding: 0;

            @include bp($mobile-landscape) {
                font-size: .875em;
            }
        }
    }
    .product-icon-wrapper {
        width: 100%;

        .product-icons {
            @extend %unstyled;
            margin: 2em auto 1em;
            max-width: 130px;

            li {
                cursor: pointer;
                display: inline-block;
                margin: 0;
                padding: 5px;
                width: 48%;

                img {
                    border: 1px solid $color-secondary;
                    border-radius: 100%;
                }
            }
            li:before {
                content: '';
            }
        }
    }
    .product-accreditations-wrapper {
        width: 100%;

        .product-accreditations {
            @extend %centered;
            @extend %unstyled;
            margin: 2.5em auto 3em;
            max-width: 320px;

            li {
                display: inline-block;
                margin: 0;
                padding: 5px;
                width: 48%;
                vertical-align: top;
                height:170px;

                .icon-no-leak {
                    height: 128px;
                    line-height: 0;
                    margin: 0 auto;
                    vertical-align: top;
                    width: 122px;
                }
                .incentive {
                    height: 128px;
                    width: 128px;
                    padding-top:30px;
                    font-size:1em;

                    @include bp($mobile-landscape) {
                        font-size:.875em;
                    }
                }
            }
            li:before {
                content: '';
            }
        }
    }
    .product-images {

        @include bp($tablet) {
            padding: 0 2%;
        }
        @include bp($foundation-large) {
            padding: 0 5%;
        }
    }
    .product-image {
        margin: 0 auto;
        max-width: 300px;
        width: 100%;
    }

    div {
        line-height: 1.75;
        &.incentive {
            line-height:1.25;
        }
    }
    ul {
        color: $color-default-light;
        font-family: $font-family-default;
        line-height: 1.5;
        list-style: none;
        margin: 2em 0;
        padding-left: 1.75em;

        li {
            margin-bottom: 1em;
        }
        li:before {
            color: $color-primary;
            content: '•';
            display: block;
            font-size: 1.25em;
            left: -20px;
            max-height: 0;
            max-width: 0;
            position: relative;
            top: -.125em;
        }

        @include bp($foundation-small, $mobile-landscape) {
            padding-left: 1.25em;
        }
        @include bp($mobile-landscape) {
            font-size: .875em;
        }
    }
}

.product-cards {
    @extend %centered;

    .product-card-wrapper {
        margin: 20px 15px;
        overflow: visible;
        padding: 0;
    }
    .product-card {
        background: #fff;
        box-shadow: 0px 4px 0px 0px rgba(225,225,225,1);
        padding: 6% 8% 0;

        .img-wrapper {
            display: block;
            overflow: hidden;
            padding: 10%;
        }

        h3 {
            margin-bottom: 1em;
        }
        img {
            margin-bottom: 4%;
            width: 100%;
        }
        p {
            color: $color-default-light;
            margin: 0 0 2em;

            @include bp($foundation-large) {
                padding: 0 2%;
            }
            @include bp($my-large) {
                padding: 0 4%;
            }
        }

        @include bp(0, $foundation-med) {
            margin: 0 auto;
            max-width: 350px;
        }
        @include bp($my-small, $foundation-med) {
            padding: {
                left: 12%;
                right: 12%;
            }
        }
        @include bp($foundation-med, $tablet) {
            margin: 0 auto;
            max-width: 340px;
        }
        @include bp($foundation-large) {
            padding: 7% 10% 0;
        }
    }
    .slick-slider {

        @include bp(0, $tablet) {
            padding-bottom: 3em;
        }
    }
}

.blinds {
    background-image: url('../images/backgrounds/blinds-bg.jpg');
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: 50% 100%;

    .columns {
        @include bp($foundation-small, $tablet) {
            width: 100%;
        }
        &.medium-push-7 {
            @include bp($foundation-small, $tablet) {
                left: 0;
            }
        }
    }
    p {
        color: $color-default-light;
    }

    @include bp($foundation-small, $mobile-landscape) {
        background-position: 0% 420px;
        background-size: 110%;
        padding-bottom: 350px;
    }
    @include bp($mobile-landscape, $tablet) {
        background-position: 0% 400px;
        background-size: 110%;
        padding-bottom: 400px;
    }
}

.no-leak {
    background-image: url('../images/backgrounds/after-installing-bg.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    .header-statement {
        @include bp($my-large) {
            padding: {
                left: 30%;
                right: 30%;
            }
        }
    }
    .icon-no-leak {
        height: 105px;
        margin-bottom: 20px;
        width: 100px;
    }
    p {
        color: $color-grey-border;
    }
}