.products {
    background-image: url('../images/backgrounds/products-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .product-category-wrapper {

        @include bp($foundation-small, $foundation-med) {
            margin-top: 180px;
        }
        @include bp($foundation-med, $tablet) {
            margin-top: 130px;
        }
    }

    @include bp($foundation-small, $tablet) {
        background-image: none;

        header {
            background: $color-grey-light-bg;
            margin-left: -10%;
            padding: {
                bottom: 20px;
                top: 40px;
            }
            position: absolute;
            top: 0;
            width: 110%;

            h2 {
                font-weight: normal;
                text-transform: none;
            }
        }
    }
}

.accessories {
    padding: 5% 0;
    text-align: center;
}