.bringing-daylight {

}

.fancy-search {
    color: $color-default;

    input::placeholder {
        color: $color-default !important;
    }
}

.hero-search {
    background-image: url('../images/categories/residential-hero.jpg');
    padding: {
        bottom: 35%;
        top: 20%;
    }

    h1 {
        text-shadow: 1px 1px 3px #323232;
    }

    @include bp($tablet) {
        padding-bottom: 25%;
    }
    @include bp($foundation-med, $foundation-large) {
        background-position: 0% 50%;
    }
}