/*-----------------------
  @COLORS
------------------------*/

.styleguide__color-chip {
    display: inline-block;
    height: 100px;
    width: 10%;
}

%color-chip {
    height: 100%;
    width: 100%;

    + .color-chip__heading:after {
        display: block;
        text-align: center;
    }
}

.color-chip--default {
    @extend %color-chip;
    background: $color-default;

    + .color-chip__heading:after {
        content: 'color-default';
    }
}

.color-chip--primary {
    @extend %color-chip;
    background: $color-primary;

    + .color-chip__heading:after {
        content: 'color-primary';
    }
}

.color-chip--secondary {
    @extend %color-chip;
    background: $color-secondary;

    + .color-chip__heading:after {
        content: 'color-secondary';
    }
}

.color-chip--blue {
    @extend %color-chip;
    background: $color-blue;

    + .color-chip__heading:after {
        content: 'color-blue';
    }
}


/*-----------------------
  @BLOCKS
------------------------*/

.styleguide__block {
    overflow: hidden;
    padding: 5% 0;
}

.styleguide__heading {
    @extend %h6;
    border-bottom: 1px solid black;
    color: black;
    font-weight: bold;
    text-align: right;

    a {
        color: black;
    }
}

.styleguide__subheading {
    @extend %h6;
    border-bottom: 1px solid #ccc;
    color: #ccc;
    font-weight: bold;
    margin-top: 5%;
    text-align: right;

    &:first-child {
        margin-top: 1em;
    }
}
