.accessories {
    div {

        @include bp($foundation-small, $foundation-large) {
            margin-bottom: 40px;
        }
    }
    h4 {
        margin-bottom: .875em;
    }
    p {
        font-size: .875em;
    }
}