.nav-arrow {
    background: url('../images/nav-arrow.png');
    display: inline-block;
    height: 5px;
    width: 18px;
    vertical-align: middle;

    &.selected {
        background-position: -16px 0;
    }

    @include bp($foundation-large) {
        &.hovered {
            background-position: -16px 0;
        }
    }
}