[data-wallpaper] {
    background-color: $color-cod-grey;
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover;
}

[data-wallpaper*="us-map"] {
    background-position: center -2%;
    background-repeat: no-repeat;
    background-size: 200%;

    @include bp($tablet) {
        background-position: center;
        background-size: 80%;
    }
    [data-carousel-type="footer-dots"] & {
        background-position: center center;
        background-size: 150%;
    }
}

[data-wallpaper*="blinds"] {
    background-color: $color-page;

    @include bp(0, $foundation-large) {
        background-image: none !important;
    }
    @include bp($foundation-large) {
        background-position: left center;
        background-size: 50% 100%;
    }
    @include bp($max) {
        background-size: 48% 135%;
    }
}