%btn {
    @extend %button;
    -webkit-appearance: none;
    
    &:hover {
        text-decoration: none;
    }
}
.btn {
    @extend %btn;
}

.btn--text {
    @extend %btn;
    background: transparent;
    color: $color-default;
}

.btn--icon {
    @extend %btn;
    background: transparent;
    padding: 0;
}

.btn-text-icon {
    .icon {
        height: 16px;
        margin-left: -5px;
        margin-right: 5px;
        position: relative;
        top: -2px;
        width: 16px;
        vertical-align: middle;
    }
}

/*-----------------------
  @BUTTON SCROLL
------------------------*/
.btn-scroll {
    @include circle($d-btn-scroll, $d-btn-scroll, $color-primary);
    @extend %centered;
    line-height: 13px;

    .icon {
        height: 12px;
        position: relative;
        top: 15px;
        width: 12px;
    }
}

.btn-scroll--bisect {
    bottom: -($d-btn-scroll / 2);
    left: 50%;
    margin-left: -($d-btn-scroll / 2);
    position: absolute;
    z-index: 1;
}

/*-----------------------
  @BUTTON PLAY
------------------------*/
.btn-play {
    @extend %block;
    @extend %centered;
    height: $icon-play;
    width: $icon-play;

    .icon-play {
        left: 50%;
        margin-top: -($icon-play / 2);
        margin-left: -($icon-play / 2);
        position: absolute;
        top: 50%;
    }
}
.btn-play--centered {
    left: 50%;
    margin-top: -$icon-play / 2;
    margin-left: -$icon-play / 2;
    position: absolute;
    top: 50%;
}

