%btn {
    @extend %button;

    &:hover {
        text-decoration: none;
    }
}
.btn {
    @extend %btn;
}

.btn--text {
    @extend %btn;
    background: transparent;
    color: $color-default;
}

.btn--icon {
    @extend %btn;
    background: transparent;
    padding: 0;
}


/*-----------------------
  @BUTTON PLAY
------------------------*/
.btn-play {
    @extend %block;
    @extend %centered;
    height: $icon-play;
    width: $icon-play;

    .icon-play {
        left: 50%;
        margin-top: -($icon-play / 2);
        margin-left: -($icon-play / 2);
        position: absolute;
        top: 50%;
    }
}
.btn-play--centered {
    left: 50%;
    margin-top: -$icon-play / 2;
    margin-left: -$icon-play / 2;
    position: absolute;
    top: 50%;
}