/*-----------------------
  @CARD
------------------------*/
.card {
    background: $color-reverse-heading;
    color: $color-default-light;
    text-align: center;

    .card-container {
        padding: 2em;
    }

    h2 {
        color: $color-default;
        margin-bottom: 0;
    }
    p {
        margin-bottom: 0;
    }
}