.modal,
.modal-screen {
    bottom: -100%;
    height: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    transition: opacity 0.3s ease;
    width: 100%;

    &.modal--is-open {
        bottom: 0;
        display: block;
        height: 100%;
    }
}

.modal-screen {
    background: $overlay;
    z-index: 100;

    &.modal--is-open {
        display: block;
        opacity: .9;
    }
}

.modal {
    overflow-y: scroll;
    z-index: 101;

    &.modal--is-open {
        opacity: 1;
    }
}

.modal__page {
    margin: 5% auto 0;
    padding: 0;
    width: 800px;
}

.modal__header {
    text-align: right;
}

/*[data-modal-open] {
    @include bp(0, $foundation-large) {
        display: none;
    }
}*/

[data-modal-close] {

    .icon__svg {
        fill: $color-reverse-heading !important;
    }
}

.modal__body {
    background: #fff;
    margin-top: 30px;
    padding: 5% 10%;

    .updates {
        @include bp($foundation-med) {
            margin-top: 51px;
        }
    }

    form > div.row > div.columns:nth-child(1) {
        @extend %snug-left;
    }
    form > div.row > div.columns:nth-child(2) {
        @extend %snug-right;
    }
    input, textarea, select {
        border: 1px solid $color-label;
        display: block;
        line-height: 1.25em;
        padding: .75em;

        &[type="submit"] {
            @extend %btn;
            margin-top: 25px;
        }
    }
    label {
        display: block;
        line-height: 1.75em;
        margin-top: 15px;
    }
    textarea {
        min-height: 218px;
    }

    @include bp($foundation-large) {
        margin-top: 0;
    }
}