.discover-more-container {
    h3 {
        margin-bottom: 5%;
    }
}
.discover-more {
    max-width: 1000px;
}

.discover-card {
    display: block;

    @include bp($foundation-small, $foundation-med) {
        margin-top: 50px;
    }
}