.discover-more-container {
    h2 {
        margin-bottom: 5%;
    }

    @include bp($foundation-med, $tablet) {
        padding: {
            left: 1%;
            right: 1%;
        }

        .columns {
            padding: {
                left: .5rem;
                right: .5rem;
            }
        }
    }
}
.discover-more {
    max-width: 1000px;
}
.discover-card-container {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 13% 15%;

    @include bp($foundation-small, $foundation-med) {
        background-position: center;
        height: 325px;
        margin-top: 40px;
    }
    @include bp($foundation-med, $tablet) {
        padding: 20% 5%;
    }
    @include bp($tablet) {
        height: 345px;
    }
}
.discover-card {

    a {
        font-size: .875em;
    }
    a:hover {
        @extend %no-underline;
    }
    h4 {
        margin-bottom: 2%;
    }
    img {
        margin-bottom: 10%;
    }
}

/*-----------------------
  @INDIVIDUAL PROMOTIONS
------------------------*/
.about-teaser {
    background-image: url('../images/discover-more/about-us-teaser.jpg');

    .discover-card {
        @extend %vc;
    }

    @include bp($foundation-small, $foundation-med) {
        background-image: url('../images/discover-more/about-us-teaser-wide.jpg');
    }
}

.skylight-planner {
    background-image: url('../images/discover-more/skylight-planner.jpg');

    @include bp($foundation-small, $foundation-med) {
        background-image: url('../images/discover-more/skylight-planner-wide.jpg');
    }
}

.tax-credit {
    background-image: url('../images/discover-more/tax-credit.jpg');

    @include bp($foundation-small, $foundation-med) {
        background-image: url('../images/discover-more/tax-credit-wide.jpg');
    }
}