.field__checkbox--horizontal,
.field__radio--horizontal {
    display: inline-block;
}

.asterisk {
    color: red;
    padding-left: 2px;
    vertical-align: sup;

    &[title="Required"] {
        border-bottom: none;
    }
}

.icheckbox_flat {
    background: url('../images/flat.png');
    margin-right: 10px;
    outline: 1px solid $color-grey-light;
    positon: relative;
    top: -2px;
}

.selectricWrapper {
    width: 100%;

    .selectric {
        background: transparent;
        border: 1px solid $color-grey-light;
        border-radius: 0;

        .button {
            top: 4px;

            &:after {
                border-top-color: $color-grey-light;
            }
        }

        p {
            padding: .75em .5em;
        }
    }
    .selectric .label {
        font-size: $font-size-default;
    }
}

.selectricScroll li {
    font-size: 1.125em;
}