.hero {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    .card {
        padding-bottom: 4em;
        width: 360px;

        .card-container {

            @include bp($foundation-small, $foundation-med) {
                padding: {
                    bottom: 0;
                    top: 0;
                }
            }
        }
        .category-scroll-bar {
            bottom: 0;
            position: absolute;
            left: 0;
            padding: .75em 2em;
            right: 0;
            width: 100%;

            .category-scroll-button {
                @include circle(100%);
                background: $color-primary;
                display: inline-block;
                height: 2.25em;
                margin-right: .5em;
                padding: .5em;
                text-align: center;
                width: 2.25em;

                .icon-chevron--down--reversed {
                    height: .875em;
                    width: .875em;

                    .icon__svg {
                        fill: $color-reverse-heading;
                    }
                }
            }
            .category-scroll-link {
                font-size: .75em;
                display: inline-block;
                position: relative;
                top: -.25em;
            }

            a:hover {
                @extend %no-underline;
            }
        }

        @include bp($foundation-small, $foundation-med) {
            background: $color-grey-light-bg;
            padding: 1.5em 10% 5em;
            width: 100%;
        }
        @include bp($foundation-med) {
            background-clip: padding-box;
            border: 10px solid rgba(245,245,245,.6);
            left: 5%;
            margin-top: -160px;
            position: absolute;
            text-align: left;
            top: 50%;
        }
        @include bp($my-very-large) {
            width: 420px;

            p {
                font-size: .875em;
            }
        }
    }
    .slick__item {
        padding-top:10%;
        padding-bottom:10%;

        @include bp($foundation-med) {
            padding-top:20em;
            padding-bottom:20em;
        }
    }

    @include bp($foundation-small, $foundation-med) {
        padding: 0;

        .row, .columns {
            float: none;
            padding: 0;
        }
    }
}