#map,
#search-map {
    height: 40vw;
    max-height: 1000px;
    min-height: 400px;
    width: 100%;

    img {
        max-width: none;
    }
    label {
        display: inline;
        width: auto;
    }
}

img[src*="gstatic.com/"],
img[src*="googleapis.com/"] {
    max-width: none !important;
}

.gm-style {
    font-family: $font-family-default;
    font-size: initial;
}

.gm-style {
    font-family: $font-family-default;
    font-size: initial;

    .gm-style-iw {
        font-size: initial;
        // font-weight: normal;
        overflow: hidden;
    }
}