.nav-header {
    background: #fff;
    display: none;
    font-size: 0.875em;
    left: 0;
    position: absolute;
    top: $masthead-mobile;
    width: 100%;

    .nav-header--is-open & {
        display: block;

        @include bp($foundation-small, $tablet) {
            background: $color-grey-dark;
        }
    }

    .nav-major {

        @include bp($switch-nav-medium) {
            float: left;

            .subnav-products--is-hovered & .nav-major__subnav {
                display: block;
            }
        }

        .nav-header__link {
            display: block;
            line-height: 4em;

            .nav-header--is-open & {
                @include bp($foundation-small, $tablet) {
                    color: $color-reverse-heading;
                }
            }

            @include bp($tablet) {
                display: inline-block;
                line-height: $masthead-height;

                &:hover:after {
                    background: $color-primary;
                    bottom: 0;
                    content: '';
                    display: block;
                    height: 4px;
                    left: 0;
                    position: absolute;
                    right: 0;
                }
            }
        }
        .nav-major__subnav {
            display: none;
            z-index: 20;

            a {
                color: $color-grey-light;
                display: block;

                @include bp($tablet) {
                    display: inline-block;
                }

                &:hover {
                    @extend %no-underline;
                }
            }

            .subnav-products--is-open & {
                display: block;
            }
            
            @include bp($tablet) {
                background: $color-grey-dark;
                border-top: $masthead-border solid $color-secondary;
                display: none;
                left: 0;
                line-height: 70px;
                /*max-width: $page-max-width;*/
                position: absolute;
                width: 100%;
                text-align: center;
                top: $masthead-height;
                /*transform: translate(-50%, 0);*/
            }
        }
        .products-dropdown {
            display: inline-block;
            position: static;
        }

        a {
            font-weight: bold;
            margin: 0 auto;
            text-transform: uppercase;

            @include bp($tablet) {
                margin: {
                    left: 18px;
                    right: 18px;
                }
            }

            @include bp($switch-nav-medium) {
                margin: {
                    left: 20px;
                    right: 20px;
                }
            }
        }
    }

    .nav-minor {
        display: none;
        padding: 0 0 20px;
        z-index: 10;

        .nav-header__link {
            color: $color-grey-light;
            display: block;
            line-height: 3em;

            @include bp($tablet, $switch-nav-large) {
                margin: 0 auto;
                width: 20%;
            }
            @include bp($switch-nav-large) {
                display: inline-block;
                line-height: $masthead-height;
                margin: {
                    left: 18px;
                    right: 18px;
                }
                width: auto;
                &:hover:after {
                    background: $color-primary;
                    bottom: 0;
                    content: '';
                    display: block;
                    height: 4px;
                    left: 0;
                    position: absolute;
                    right: 0;
                }
            }
        }

        .nav-header--is-open & {
            display: block;
        }
        .popout-velux-logo {
            display: block;
            margin-top: 15px;

            @include bp($switch-nav-medium) {
                display: none;
            }
        }

        @include bp($tablet) {
            padding-top: 20px;
        }
        @include bp($tablet, $switch-nav-large) {
            background: #fff;
            left: 0;
            position: absolute;
            top: $masthead-height + $masthead-border;
            width: 100%;
        }
        @include bp($switch-nav-large) {
            display: block;
            float: left;
            margin-left: 15px;
            padding: 0;
        }
    }

    @include bp($foundation-med) {
        top: $masthead-height + $masthead-border;
    }
    @include bp($tablet) {
        background: transparent;
        display: block;
        float: left;
        position: static;
        top: 0;
        width: auto;
    }
    @include bp($switch-nav-large) {
        /*width: 75.705%;*/
    }
}