.my-slick-next, .my-slick-prev {
    background: none;
    padding: 0;
    position: absolute;
    top: 50%;
}
.my-slick-next {
    right: -16px;
}
.my-slick-prev {
    left: -16px;
}

.slick-slide img {
    display: inline-block;
}

.slick-slider {
    margin-bottom: 0;
}