.my-slick-controls {
    position: static;
}
.my-slick-next, .my-slick-prev {
    background: none;
    padding: 0;
    position: absolute;
    top: 50%;

    @include bp($foundation-small, $tablet) {
        display: none !important;
    }
}
.my-slick-next {
    right: -45px;
}
.my-slick-prev {
    left: -45px;
}

.slick-slide img {
    display: inline-block;
}

.slick-initialized .slick__item img {
    width: auto;
}

.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    $d-dots: 17px;
    @extend %centered;
    bottom: 0;

    li {
        margin: 0;
        width: $d-dots;

        button {
            width: $d-dots;
        }
        button:before {
            color: $color-grey-light;
            font-family: sans-serif;
            font-size: 40px;
            opacity: 1;
            width: $d-dots;

            .reversed & {
                color: $color-reverse-heading;
            }
        }
        &.slick-active button:before {
            color: $color-primary;
        }
    }

    @include bp($foundation-small, $mobile-landscape) {
        margin-bottom: .5em;
    }
}