.intro-statement {
    @extend %centered;
    padding: {
        left: 10%;
        right: 10%;
    }

    h2 {
        padding: {
            left: 10%;
            right: 10%;
        }
    }
    p {
        color: $color-default-light;
        font-family: $font-family-display;
    }

    @include bp($foundation-small, $mobile-landscape) {
        padding: {
            left: 5%;
            right: 5%;
        }
    }
    @include bp($foundation-large) {
        padding: {
            left: 20%;
            right: 20%;
        }
    }
}

.intro-statement--squeezed {

    a:hover {
        text-decoration: none;
    }

    @include bp($my-large) {
        padding: {
            left: 30%;
            right: 30%;
        }
    }
}

.header-statement {
    @extend %centered;
    padding: {
        left: 15%;
        right: 15%;
    }

    h3 {
        padding: {
            left: 10%;
            right: 10%;
        }
    }
    p {
        color: $color-default-light;
    }

    @include bp($foundation-small, $mobile-landscape) {
        padding: {
            left: 10%;
            right: 10%;
        }

        h3 {
            padding: 0;
        }
    }
}

.header-statement--squeezed {

    @include bp($tablet) {
        padding: {
            left: 25%;
            right: 25%;
        }
    }
}

.header-statement--more-squeezed {
    
    @include bp($tablet) {
        padding: {
            left: 40%;
            right: 40%;
        }
    }
}