.testimonial {
    padding: 0 10%;

    &:before {
        content: url('../images/testimonial-quotes.png');
        display: inline-block;
    }
    
    p {
        font-family: $font-family-display;
        line-height: 2;
        margin-bottom: 2.75em;
    }

    @include bp($my-large) {
        padding: 0 15%;
    }
}

.testimonial-carousel {

    @include bp($foundation-small, $foundation-large) {
        padding: 0;
    }
}

.testimonial-link {

    &:before {
        background: $color-primary;
        content: '';
        display: inline-block;
        height: 4px;
        left: 50%;
        position: absolute;
        top: -22px;
        transform: translateX(-50%);
        width: 30px;
    }
}