.installer-welcome-wrapper {
    @include bp($foundation-small, $foundation-large) {
        padding: 0;
    }

    .intro-statement {
        padding-bottom: 3%;

        h2 {
            text-transform: none;
        }
    }
}

.installer-welcome {
    @extend %centered;
}

.welcome-hero {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.featured-images {

    @include bp($foundation-small, $foundation-large) {
        padding: 0;
    }
    @include bp($my-large) {
        width: 33%;
    }
}

.promotion-large {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 8px solid $color-reverse-heading;
    float: left;
    width: 100%;

    .incentive {
        position: absolute;
        left: 8%;
        top: 33%;

        @include bp($foundation-small, $mobile-landscape) {
            height: 100px;
            width: 100px;
        }
    }

    h5 {
        margin-bottom: 5px;
    }

    @include bp($foundation-large) {
        border-top: 0;
    }
}

.promotions-small {
    width: 100%;

    .cta {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
    .dealer-promo {
        background-color: $color-blue;
        padding: 5%;
    }
    .promotion-small {
        border-top: 8px solid $color-reverse-heading;
        float: left;
        width: 100%;

        @include bp($foundation-large) {
            border-top: 0;
            height: 220px;
            width: 48%;
        }
    }

    @include bp($foundation-large) {
        bottom: 0;
        padding: 0 .9375rem;
        position: absolute;
        right: 0;
        width: 50%;

        .cta {
            margin-left: 4%;
        }
    }
    @include bp($my-large) {
        right: 1%;
        width: 33%;
    }
}

/*-----------------------
  @INDIVIDUAL PROMOTIONS
------------------------*/
.upgrade {
    background-image: url('../images/welcome/hero.jpg');
    padding: 18% 10% 24%;

    h1 {
        text-shadow: 1px 1px 3px rgba(50,50,50,1);
    }

    @include bp($foundation-small, $foundation-med) {
        padding: 18% 4% 64%;

        h1 {
            font-size: 2.25em;
        }
    }
    @include bp($my-large) {
        padding: 14% 15% 22%;
        width: 66%;

        h1 {
            max-width: 560px;
        }
    }
}

.fresh-air {
    background-image: url('../images/welcome/promotion-wide.jpg');
    padding: 8% 10% 33%;

    @include bp($foundation-small, $mobile-landscape) {
        padding: 10% 0 50%;

        h5 {
            font-size: 1em;
        }

    }
    @include bp($foundation-large) {
        background-image: url('../images/welcome/promotion.jpg');
        margin-bottom: 10px;
        padding: 15% 0 89%;

        h5 {
            margin: 0 auto 10px;
            width: 360px;
        }
    }
    @include bp(1100px) {
        padding-bottom: 87%;
    }
    @include bp(1200px) {
        padding-bottom: 85%;
    }
    @include bp($my-large) {
        padding-bottom: 82%;
    }
    @include bp($my-very-large) {
        padding-bottom: 88%;
    }
}

.schedule-consult {
    background-image: url('../images/welcome/cta-wide.jpg');
    padding: {
        bottom: 15%;
        left: 10%;
        right: 10%;
        top: 10%;
    }

    p {
        margin-bottom: 10px;
    }

    @include bp($foundation-large) {
        background-image: url('../images/welcome/cta.jpg');
    }
}