.five-star {

}
.five-star--bottom {

    @include bp($foundation-small, $foundation-med) {
        width: 40%
    }
    @include bp($tablet) {
        display: none;
    }
}
.five-star--top {
    display: none;

    @include bp($tablet) {
        display: block;
    }
}

.footer-row {
    font-size: 14px;
    margin: 0 auto;
    max-width: $page-max-width;
    text-align: center;

    .columns:nth-child(3) {

        @include bp($foundation-small, $foundation-large) {
            clear: left;
        }
    }
    .columns:nth-child(1n + 3) {

        @include bp($foundation-med, $foundation-large) {
            border-top: 1px solid $color-grey;
            margin-top: 20px;
            padding-top: 30px;
        }
    }
    .dealer-info {
        
    }
    .logo {
        @extend %centered;
        display: none;
        position: static;

        img {
            margin-bottom: 5px;
            max-height: 30%;
            max-width: 40%;
        }

        @include bp($foundation-large) {
            display: block;
        }
    }
    .copyright {
        color: $color-social-icons;
        font-size: 0.857em;
        width: 10%;

    }
    .nav-footer {
        width: 75%;

        .nav-footer-container {
            margin: 0 auto;

            .nav-major {

            }
            .nav-minor {

            }
        }

        a {
            display: block;

            @include bp($foundation-large) {
                display: inline;
            }
        }
        nav {
            display: inline-block;
        }
    }
    .social {

        .icon {
            height: 18px;
            margin: 0 .25em;
            width: 18px;

            @include bp($foundation-small, $foundation-med) {
                height: 24px;
                width: 24px;
            }
        }
        .social__link:hover {
            @extend %no-underline;
        }
    }

    @include bp($foundation-small, $foundation-med) {
        padding: 40px 0 80px;

        .columns:nth-child(1n + 2) {
            margin-top: 2.25em;
        }
    }
}
.footer-row--bottom {
    background: $color-reverse-heading;
    padding: 3em 0;

    @include bp($tablet) {

        .copyright,
        .nav-footer,
        .social {
            float: left;
        }
    }
}
.footer-row--top {
    background: $color-footer-bg;
    padding: 3em 0;
}
.footer-wrapper {
    width: 100%;
}