.five-star {

    .icon-five-star {
        line-height: 0;
        height: 90px;
        width: 90px;
    }
}
.five-star--bottom {

    @include bp($foundation-small, $foundation-med) {
        bottom: 40px;
        left: 8%;
        position: absolute;
    }
    @include bp($foundation-med, $tablet) {
        bottom: 80px;
        left: 4%;
        position: absolute;
    }
    @include bp($tablet) {
        display: none;
    }
}
.five-star--top {
    display: none;
    line-height: 0;
    text-align: center;
    width: 10%;

    @include bp($tablet) {
        display: block;
    }
}

.footer-row {
    font-size: .875em;
    margin: 0 auto;
    max-width: $page-max-width;
    padding: {
        left: 8%;
        right: 8%;
    }
    text-align: left;

    @include bp($foundation-large) {
        padding: {
            left: 2%;
            right: 2%;
        }
    }
    @include bp($my-very-large) {
        padding: {
            left: 4%;
            right: 4%;
        }
    }
}
.footer-row--bottom {
    background: $color-reverse-heading;
    padding: {
        bottom: 3em;
        top: 3em;
    }

    .copyright {
        color: $color-social-icons;
        width: 10em;

        @include bp($foundation-small, $tablet) {
            bottom: 10px;
            left: 8%;
            position: absolute;
        }
        @include bp($foundation-med, $tablet) {
            left: 4%;
        }
        @include bp($tablet) {
            float: left;
        }
        @include bp($foundation-large) {
            font-size: .875em;
            top: 2px;
        }

    }
    .nav-footer {
        margin: 0 auto;
        max-width: 800px;

        .nav-footer__container {
            margin: 0 auto;
            text-align: center;
            white-space: nowrap;
            width: 100%;

            .nav-major {
                text-align: left;

                a {
                    @extend %upper;
                    color: $color-default;

                    @include bp($foundation-large) {
                        margin-right: 4%;
                    }
                    @include bp($my-large) {
                        margin-right: 8%;
                    }
                    @include bp($my-very-large) {
                        margin-right: 10%;
                    }
                }
                a:last-child {
                    margin-right: 0;
                }

                @include bp($foundation-small, $foundation-large) {
                    width: 60%;
                }
                @include bp($foundation-large) {
                    margin-right: 3%;
                    min-width: 50%;
                }
                @include bp($my-large) {
                    min-width: 40%;
                }
                @include bp($my-very-large) {
                    margin-right: 5%;
                    min-width: 50%;
                }
                a:last-child {
                    margin-right: 0;
                }
            }
            .nav-minor {
                text-align: left;

                a {
                    color: $color-grey;

                    @include bp($foundation-large) {
                        margin-right: 4%;
                    }
                    @include bp($my-large) {
                        margin-right: 10%;
                    }
                    @include bp($my-very-large) {
                        margin-right: 11%;
                    }
                }

                @include bp($foundation-small, $foundation-large) {
                    width: 40%;
                }
                @include bp($foundation-large) {
                    min-width: 30%;
                }
                @include bp($my-very-large) {
                    min-width: 40%;
                }
            }

            @include bp($foundation-small, $foundation-large) {
                line-height: 2.125;
            }
            @include bp($tablet, foundation-large) {
                text-align: left;
            }
            @include bp($foundation-large, $my-large) {
                left: -10px;
            }
        }

        a {
            display: block;

            @include bp($foundation-large) {
                display: inline;
            }
        }
        nav {
            display: inline-block;
        }

        @include bp($foundation-small, $foundation-med) {
            width: 100%;
        }
        @include bp($foundation-med, $tablet) {
            margin: 0 0 0 auto;
            width: 70%;
        }
        @include bp($tablet, $foundation-large) {
            width: 40%;
        }
        @include bp($my-large) {
            max-width: 1200px;
        }
    }
    .social {

        .icon {
            height: 18px;
            margin: 0 .25em;
            width: 18px;

            @include bp($foundation-small, $foundation-med) {
                height: 20px;
                width: 20px;
            }
        }
        .social__link:hover {
            @extend %no-underline;
        }

        @include bp($foundation-small, $foundation-med) {
            bottom: 75px;
            left: 58%;
            position: absolute;
        }
        @include bp($foundation-med, $tablet) {
            bottom: 10px;
            left: 68%;
            position: absolute;
        }
        @include bp($tablet) {
            float: right;
        }
    }

    @include bp($foundation-small, $foundation-med) {
        padding-bottom: 170px;
    }
    @include bp($foundation-med, $tablet) {
        padding-bottom: 80px;
    }
    @include bp($foundation-large) {
        padding: {
            bottom: 1.5em;
            top: 1.5em;
        }
    }
}
.footer-row--top {
    background: $color-footer-bg;
    padding: {
        bottom: 3em;
        top: 3em;
    }

    .dealer-info-container {
        color: $color-grey;
        display: inline-block;
        font-family: $font-family-display;
        line-height: 2;
        min-height: 90px;
        width: 100%;

        .dealer-info {
            display: inline-block;
            width: 100%;

            @include bp($foundation-med) {
                width: 66%;
            }
        }
        .dealer-info__header {
            color: $color-text-light;
        }
        .address,
        .numbers {
            display: inline-block;
            margin-bottom: 1.75em;
            width: 100%;

            @include bp($foundation-med) {
                margin-bottom: 0;
                width: 50%;
            }
        }
        .hours {
            display: inline-block;
            width: 100%;

            @include bp($foundation-med) {
                width: 33%;
            }
        }

        @include bp($tablet) {
            width: 90%;
        }
        @include bp($foundation-large) {
            width: 65%;
        }
    }
    .dealer-info-container > * {

        @include bp($foundation-large) {
            vertical-align: top;
        }
    }
    .logo {
        display: none;
        margin-right: 5%;
        text-align: left;
        width: 20%;

        img {
            width: 80%;
            max-height: 150px;
            max-width: 250px;
        }

        @include bp($foundation-large) {
            display: block;
        }
    }

    @include bp($tablet) {

        .logo,
        .dealer-info-container,
        .five-star--top {
            float: left;
        }
    }
}
.footer-wrapper {
    width: 100%;
}