/*-----------------------
  @GRID

  // Building off of Foundation grid
------------------------*/
.row {
    max-width: none;

    &.collapse .columns {
        padding-left: 0;
        padding-right: 0;
    }
    .columns.first {
        padding-left: 0;
    }
    .columns.last {
        padding-right: 0;
    }
}
