.brand {
    float: left;
    height: $masthead-height;
    line-height: $masthead-height;
    text-align: center;
    vertical-align: middle;
    width: 100%;

    @include bp($mobile-landscape) {
        padding-right: 0;
        width: 200px;
    }

    @include bp($switch-nav-large) {
        width: 21.795%;
    }

    img {
        max-height: 70px;
        max-width: 250px;
        width: 100%;
    }

    div {
        @extend %vc;
        display: inline-block;
    }
}

.masthead {
    @extend %cf;
    background: #fff;
    border-bottom: $masthead-border solid $color-secondary;
    /*height: $masthead-height + $masthead-border;*/
    margin-left: auto;
    margin-right: auto;
    max-width: $page-max-width;
    text-align: center;
    width: 100%;
}

.masthead__section {
    height: $masthead-height;

    &--large {
        padding: {
            left: 8px;
            right: 188px;
        }
        width: 100%;

        @include bp($mobile-landscape) {
            padding-left: 1.3%;
            padding-right: 220px;
        }

        @include bp($switch-nav-medium) {
            padding-right: 0;
            width: 670px;
        }
        @include bp($switch-nav-large) {
            width: 78%;
        }
    }
    &--small {
        float: right;
        width: 120px;

        @include bp($mobile-landscape) {
            width: 140px;
        }

        @include bp($switch-nav-large) {
            max-width: 180px;
            width: 11%;
        }
    }
    &--phone {
        border: {
            left: 1px solid $color-secondary;
            right: 1px solid $color-secondary;
        }
        position: absolute;
        right: 60px;
        top: 0;

        @include bp($mobile-landscape) {
            right: 80px;
        }
        @include bp($switch-nav-medium) {
            position: relative;
            right: 0;
        }

    }
    &--velux {
        display: none;

        @include bp($switch-nav-medium) {
            display: block;
            max-width: 160px;
        }
    }
}

.masthead-wrapper {
    /*height: $masthead-height + $masthead-border;*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-header-trigger {
    @extend %centered;
    background: transparent !important;
    color: $color-primary;
    display: block;
    height: $masthead-height;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;

    @include bp($mobile-landscape) {
        width: 80px;
    }

    @include bp($switch-nav-medium) {
        float: right;
        margin-right: 10px;
        position: relative;
        width: 60px;
    }
    @include bp($switch-nav-large) {
        display: none !important;
    }

    .navbar-icon-open {
        .nav-header--is-open & {
            display: none;
        }
    }
    .navbar-icon-close {
        display: none;

        .nav-header--is-open & {
            display: inline-block;
            position: relative;
        }
    }
}

.nav-header__link {
    color: $color-grey-dark;
    display: inline-block;
    line-height: $masthead-height;

    &:hover {
        text-decoration: none;
    }
    &.first {
        padding-left: 0;
    }
    &.last {
        padding-right: 0;
    }
}

.phone {
    display: inline-block;
    height: $masthead-height;
    margin: 0 auto;
    width: 100%;

    .phone-number {
        font-size: 0.875em;
        width: 100%;
    }
}

.velux-logo {
    display: inline-block;
    height: $masthead-height;
    line-height: $masthead-height;
    width: 100%;

    img {
        margin: 0 auto;
        position: relative;
        top: 10%;
        width: 70%;

        @include bp($switch-nav-large) {
            width: 60%;
        }
    }
}