.branding {
    background: #fff;
    border-bottom: $masthead-border solid $color-secondary;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    text-align: center;
    width: 100%;

    .brand {
        display: inline-block;

        img {
            max-width: 250px;
            width: 100%;
        }
        div {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .nav-header--is-open & {
        @include bp($foundation-small, $tablet) {
            background: $color-grey-dark;
        }
    }
}

.masthead {
    @extend %cf;
    background: #fff;
    border-bottom: $masthead-border solid $color-secondary;
    height: $masthead-mobile;
    margin-left: auto;
    margin-right: auto;
    max-width: $page-max-width;
    text-align: center;
    width: 100%;

    .nav-header--is-open & {
        @include bp($foundation-small, $tablet) {
            background: $color-grey-dark;
        }
    }
    &.is-fixed {
        box-shadow: 0 1px 7px 0 rgba(50,50,50,.25);
        left: auto;
        position: fixed;
        right: auto;
        top: 0;
    }

    @include bp($foundation-med) {
        height: $masthead-height + $masthead-border;
    }
}

.masthead__section {

    &--large {
        padding: {
            left: 2.5%;
        }
        position: static;
    }
    &--small {
        float: right;
        width: 130px;

        @include bp($mobile-landscape) {
            width: 140px;
        }

        @include bp($switch-nav-large) {
            max-width: 180px;
            width: 11%;
        }
    }
    &--phone {
        border: {
            left: 1px solid $color-secondary;
            right: 1px solid $color-secondary;
        }
        position: absolute;
        right: 80px;
        top: 0;

        .nav-header--is-open & {
            @include bp($foundation-small, $tablet) {
                display: none;
            }
        }

        @include bp($foundation-small, $tablet) {
            left: 0;
        }
        @include bp($foundation-large) {
            position: relative;
            right: 0;
        }

    }
    &--velux {
        display: none;

        @include bp($foundation-large) {
            display: block;
            max-width: 160px;
        }
    }
}

.masthead-wrapper {
    width: 100%;
    z-index: 100;
}

.nav-header-trigger {
    @extend %centered;
    background: transparent !important;
    border-left: 1px solid $color-secondary;
    color: $color-primary;
    display: block;
    height: $masthead-mobile;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;

    .navbar-icon-open {
        .nav-header--is-open & {
            display: none;
        }
    }
    .navbar-icon-close {
        display: none;

        .nav-header--is-open & {
            display: inline-block;
            position: relative;
        }
    }

    @include bp($foundation-med) {
        height: $masthead-height;
    }
    @include bp($tablet) {
        border: none;
    }
    @include bp($foundation-large) {
        float: right;
        margin-right: 10px;
        position: relative;
        width: 60px;
    }
    @include bp($switch-nav-large) {
        display: none !important;
    }
}

.nav-header__link {
    color: $color-grey-dark;
    display: inline-block;
    line-height: $masthead-mobile;

    &:hover {
        text-decoration: none;
    }
    &.first {
        padding-left: 0;
    }
    &.last {
        padding-right: 0;
    }

    @include bp($foundation-small, $tablet) {
        margin: {
            left: auto;
            right: auto;
        }
        max-width: 220px;
    }
    @include bp($foundation-med) {
        line-height: $masthead-height;
    }
}

.phone {
    display: inline-block;
    margin: 0 auto;
    width: 100%;

    .phone-number {
        font-size: .875em;
        width: 100%;
    }
}

.velux-logo {
    display: inline-block;
    height: $masthead-height;
    line-height: $masthead-height;
    width: 100%;

    img {
        margin: 0 auto;
        position: relative;
        top: 10%;
        width: 70%;

        @include bp($switch-nav-large) {
            width: 60%;
        }
    }
}