.masthead {
    @extend %cf;
    background: #fff;
    border-bottom: $masthead-border solid $color-secondary;
    height: $masthead-mobile;
    margin-left: auto;
    margin-right: auto;
    max-width: $page-max-width;
    text-align: center;
    width: 100%;

    &.is-fixed {
        box-shadow: 0 1px 7px 0 rgba(50,50,50,.25);
        left: auto;
        position: fixed;
        right: auto;
        top: 0;
    }

    .masthead__section {

        &--large {
            padding: {
                left: 2.5%;
            }
            position: static;
        }
        &--small {
            float: right;
            width: 140px;

            @include bp($mobile-landscape) {
                width: 150px;
            }

            @include bp($switch-nav-large) {
                max-width: 180px;
                width: 12%;
            }
        }
        &--phone {
            position: absolute;
            right: 0;
            top: 0;

            @include bp($foundation-small, $mobile-landscape) {
                width: 80px;
            }
            @include bp($foundation-large) {
                border: {
                    left: 1px solid $color-secondary;
                    right: 1px solid $color-secondary;
                }
                position: relative;
                right: 0;
            }

        }
        &--velux {
            display: none;

            @include bp($foundation-large) {
                display: block;
                line-height: 0;
                max-width: 160px;
            }
        }
    }
    .nav-header-trigger {
        @extend %centered;
        background: transparent !important;
        color: $color-primary;
        display: block;
        height: $masthead-mobile;
        padding: 0;
        position: absolute;
        width: 80px;

        .navbar-icon-open {
            .nav-header--is-open & {
                display: none;
            }
        }
        .navbar-icon-close {
            display: none;

            .nav-header--is-open & {
                display: inline-block;
                position: relative;
            }
        }

        @include bp($foundation-small, $tablet) {
            border-right: 1px solid $color-secondary;
            left: 0;
            right: auto;
        }
        @include bp($foundation-med) {
            height: $masthead-height;
        }
        @include bp($tablet, $foundation-large) {
            border-right: 1px solid $color-secondary;
            right: 150px;
        }
        @include bp($foundation-large) {
            float: right;
            margin-right: 10px;
            position: relative;
            width: 60px;
        }
        @include bp($switch-nav-large) {
            display: none !important;
        }
    }
    .nav-header__link {
        color: $color-grey-dark;
        display: inline-block;
        line-height: $masthead-mobile;

        &:hover {
            text-decoration: none;
        }
        &.first {
            padding-left: 0;
        }
        &.last {
            padding-right: 0;
        }

        @include bp($foundation-small, $tablet) {
            max-width: 220px;
        }
        @include bp($foundation-med) {
            line-height: $masthead-height;
        }
    }

    @include bp($foundation-med) {
        height: $masthead-height + $masthead-border;
    }
    .phone {
        display: inline-block;
        margin: 0 auto;
        width: 100%;

        .icon-phone {
            margin-right: 5px;

            @include bp($foundation-small, $mobile-landscape) {
                height: 22px;
                margin-right: 0;
                width: 22px;
            }
            @include bp($my-very-large) {
                height: 20px;
                width: 20px;
            }
        }

        .phone-number {
            font-size: .875em;
            width: 100%;

            .number {
                @include bp($foundation-small, $mobile-landscape) {
                    display: none;
                }
            }
        }
    }
    .velux-logo {
        /*display: inline-block;*/
        height: $masthead-height;
        /*line-height: $masthead-height;*/
        width: 100%;

        img {
            @extend %vc;
            display: block;
            margin: 0 auto;
            position: relative;
            width: 70%;

            @include bp($switch-nav-large) {
                width: 60%;
            }
        }
    }
}

.masthead-wrapper {
    width: 100%;
    z-index: 100;

    .branding {
        background: #fff;
        border-bottom: $masthead-border solid $color-secondary;
        margin-left: auto;
        margin-right: auto;
        padding: 12px 0 10px;
        text-align: center;
        width: 100%;

        .brand {
            @extend %no-underline;
            display: inline-block;

            .site-title {
                @extend %color-primary;
                @extend %h2;
                @extend %upper;
                margin-bottom: 0;
                padding: 10px 0 10px;
            }

            img {
                max-height: 120px;;
                max-width: 225px;

                @include bp($foundation-small, $foundation-med) {
                    max-width: 200px;
                }
            }
        }

        @include bp($tablet) {
            padding: 15px 0 13px;
        }
    }
}
