.ie8 {
    .velux-logo {
        img {
            margin-top:-20px;
        }
    }

    .fancy-search input[type=search] {
        padding:12px 0;
        height:54px;
        font-size:14px;
        line-height:28px;
    }

    .dealer-promo {
        @include bp($foundation-large) {
            margin-right:4%;
        }
    }

    form {
        .columns {
            padding-left:15px;
        }
    }

    .statement-images--installing {
        display:none;
    }

    .ps-masthead {
        .masthead__section--info {
            .info-wrapper {
                top:20px;
            }
        }
        .ps-branding--desktop {
            line-height:120px;
            padding-top:0px;
            padding-bottom:0px;

            .brand img {
                top:0px;
            } 
        }
    }

    #ps-form {
        @include bp($tablet) {
            float:right;
            width:38%;
        }
        @include bp($foundation-large) {
            float:right;
            width:32%;
        }
    }

    .hero {
        .card {
            z-index:0;
        }
        .slick {
            z-index:0;
        }
    }

    .principles {
        .principle-container {
            padding:6% 0;

            .principle {
                padding:3% 5%
            }
        }
    }

    .product-detail {
        .product-image {
            height:300px;
            width:300px;
        }
    }
}