.ie8 {
    .velux-logo {
        img {
            margin-top:-20px;
        }
    }

    form {
        .columns {
            padding-left:15px;
        }
    }

    .statement-images--installing {
        display:none;
    }

    .ps-masthead {
        .masthead__section--info {
            .info-wrapper {
                top:20px;
            }
        }
        .ps-branding--desktop {
            line-height:120px;
            padding-top:0px;
            padding-bottom:0px;

            .brand img {
                top:0px;
            } 
        }
    }
}