.thin-strip {
    @extend %centered;
    background: $color-grey-dark;
    padding: 20px 0;

    @include bp($foundation-large) {
        padding: 0;
    }
}

.nav-secondary {
    display: none;

    @include bp($foundation-large) {
        display: block !important;
    }
}

.nav-secondary__link {
    color: $color-grey-light;
    font-size: 0.75em;
    line-height: 70px;
    margin: 0 1em;
    text-transform: uppercase;

    &:hover {
        @extend %no-underline;
    }
}

.nav-secondary--select {
    background: transparent;
    border: none;
    color: $color-reverse-heading;
    display: block;
    margin: 0 auto;
    width: auto;

    @include bp($foundation-large) {
        display: none !important;
    }
}