.nav-header {
    background: #fff;
    display: none;
    font-size: 0.875em;
    left: 0;
    position: absolute;
    top: $masthead-mobile;
    width: 100%;

    .nav-arrow {
        background: url('../images/nav-arrow-red.png');
        display: inline-block;
        height: 5px;
        width: 18px;
        vertical-align: middle;

        &.selected {
            background-position: -16px 0;
        }

        @include bp($foundation-large) {
            &.hovered {
                background-position: -16px 0;
            }
        }
    }

    .nav-header--is-open & {
        display: block;
    }

    .nav-major {

        .nav-header__link {
            display: block;
            line-height: 2.5;

            @include bp($tablet) {
                display: inline-block;
                line-height: $masthead-height;

                &:hover:after {
                    background: $color-primary;
                    bottom: 0;
                    content: '';
                    display: block;
                    height: 4px;
                    left: 0;
                    position: absolute;
                    right: 0;
                }
                &.is-active:after {
                    background: $color-primary;
                    bottom: 0;
                    content: '';
                    display: block;
                    height: 4px;
                    left: 0;
                    position: absolute;
                    right: 0;
                }
            }
        }
        .nav-major__subnav {
            display: none;
            z-index: 20;

            .subnav-products--is-open & {
                display: block;
            }
            .nav-container {

                .polaroid {
                    display: none;
                    
                    @include bp($tablet) {
                        display: block;
                        margin-bottom: 15px;
                    }
                }

                @include bp($tablet) {
                    display: inline-block;
                    max-width: $page-max-width;
                    width: 100%;
                }
            }

            a {
                color: $color-grey-light;
                font-size: .875em;
                display: block;
                line-height: 2.5;
                padding-left: 0;

                &:hover {
                    @extend %no-underline;
                }
                
                @include bp($mobile-landscape, $tablet) {
                    padding-left: 1em;
                }
                @include bp($tablet) {
                    color: $color-default;
                    display: inline-block;
                    font-size: 1em;
                    line-height: 1.5;
                    max-width: 400px;
                    padding: 0;
                    text-align: center;
                    width: 28%;
                }
            }
            
            @include bp($tablet) {
                background: $color-reverse-heading;
                box-shadow: 0 4px 5px 0 rgba(50,50,50,.35);
                border-top: $masthead-border solid $color-secondary;
                display: none;
                left: 0;
                line-height: 70px;
                padding: {
                    bottom: 1.5%;
                    left: 2.5%;
                    right: 2.5%;
                    top: 3%;
                }
                position: absolute;
                width: 100%;
                text-align: left;
                top: $masthead-height;
            }
        }
        .products-dropdown {
            display: inline-block;
            position: static;
        }

        a {
            @extend %upper;

            @include bp($tablet) {
                margin: {
                    left: 18px;
                    right: 18px;
                }
            }

            @include bp($foundation-large) {
                margin: {
                    left: 20px;
                    right: 20px;
                }
            }
        }

        @include bp($foundation-small, $tablet) {
            float: left;
        }
        @include bp($foundation-large) {
            float: left;

            .subnav-products--is-hovered & .nav-major__subnav {
                display: block;
            }
        }
    }

    .nav-minor {
        display: none;
        position: static;
        z-index: 10;

        .nav-header__link {
            color: $color-grey-light;
            display: block;
            line-height: 2.25;

            @include bp($foundation-small, $tablet) {
                padding-left: 1em;

                &.popout-velux-logo {
                    padding-left: 0;
                }
            }
            @include bp($tablet, $switch-nav-large) {
                display: inline-block;
                line-height: $masthead-height;
                margin: 0 20px;
            }
            @include bp($switch-nav-large) {
                display: inline-block;
                line-height: $masthead-height;
                margin: {
                    left: 28px;
                    right: 18px;
                }
                width: auto;
                
                &:hover {
                    color: $color-primary;
                }
                &.is-active {
                    color: $color-primary;
                }
            }
        }

        .nav-header--is-open & {
            display: block;
        }
        .popout-velux-logo {
            display: block;
            margin-top: 15px;

            @include bp($foundation-small, $tablet) {
                border-top: 1px solid $color-secondary;
                position: absolute;
                bottom: 0;
                left: 0;
                max-width: initial;
                padding: 2.25em 0 1.75em;
                right: 0;
                text-align: center;
                width: 100%;

                img {
                    width: 110px;
                }
            }
            @include bp($tablet) {
                margin-top: 0;
            }
            @include bp($foundation-large) {
                display: none;
            }
        }

        @include bp($foundation-small, $tablet) {
            float: right;
            font-size: .875em;
        }
        @include bp($foundation-small, $foundation-large) {
            padding-bottom: 20px;
        }
        @include bp($tablet, $switch-nav-large) {
            background: $color-reverse-heading;
            box-shadow: 0 4px 5px 0 rgba(50,50,50,.35);
            left: 0;
            position: absolute;
            top: $masthead-height + $masthead-border;
            width: 100%;
        }
        @include bp($switch-nav-large) {
            display: block;
            float: left;
            margin-left: 15px;
            padding: 0;
        }
    }
    @include bp($foundation-small, $mobile-landscape) {
        font-size: 1.125em;
    }
    @include bp($mobile-landscape, $tablet) {
        font-size: 1em;
        padding: 1em 2.5em 9em;
    }
    @include bp($foundation-small, $tablet) {
        box-shadow: 0 4px 5px 0 rgba(50,50,50,.35);
        overflow: scroll;
        padding: 1em 1.75em 9em;
        text-align: left;
    }
    @include bp($foundation-med) {
        top: $masthead-height + $masthead-border;
    }
    @include bp($tablet) {
        background: transparent;
        display: block;
        float: left;
        position: static;
        top: 0;
        width: auto;
    }
}