.bg-grey {
    background: $color-grey-light-bg;
}
.bg-grey-dark {
    background: $color-grey-dark;
}

%border-top-grey {
    border-top: 1px solid $color-secondary;
}
.border-top-grey {
    @extend %border-top-grey;
}

.page {
    background: #fff;
    margin: {
        left: auto;
        right: auto;
    }
    max-width: $page-max-width;
    padding-top: $masthead-height;
}

%page-row {
    padding: $row-padding-vertical $row-padding-horizontal;
}
.page-row {
    @extend %page-row;
}
.page-row--snug {
    padding: {
        left: 5%;
        right: 5%;
    }
}
.page-row--squeezed {
    padding: {
        left: 20%;
        right: 20%;
    }
}
.page-row--tall {
    padding: {
        bottom: 10%;
        top: 10%;
    }
}
.page-row--extra-tall {
    padding: {
        bottom: 13%;
        top: 13%;
    }
}


.product-category-wrapper {
    overflow: hidden;
    padding: 4% 0;
    text-align: center;

    h5 {
        text-transform: none;
    }
}
.product-category {
    float: left;
    padding: {
        left: 2%;
        right: 2%;
    }
    width: 33%;

    h5 {
        margin: {
            bottom: 1%;
            top: 10%;
        }
    }
    p {
        margin-top: 5px;
    }
}
.products--short {

    .product-category-wrapper {
        padding: 0;
    }
}

/*-----------------------
  @HOMEPAGE
------------------------*/

/*-----------------------
  @ABOUT
------------------------*/
.about-velux {
    div {
        padding: 5% 0;
    }
}
.about-dealer {
    overflow: hidden;

    @include bp($foundation-small, $foundation-med) {
        padding-bottom: 260px;

        .about-dealer-title {
            text-align: center;
        }

        img {
            bottom: 18px;
            float: none;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
        }
    }
    img {
        float: right;
    }
}
.our-principles {
    header {
        p {
            font-size: 1.15em;
        }
    }
}

/*-----------------------
  @INSTALLING
------------------------*/
.installing {
    background-image: url('../images/installing-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.centered-half {
    @extend %centered;
    padding: $row-padding-vertical $row-padding-horizontal;

    p {
        color: $color-default-light;
        font-size: $font-size-default * 0.875;
    }
}

.centered-half--squeezed {

    &.first {
        padding: {
            left: 30%;
            right: 20%;
        }
    }
    &.last {
        padding: {
            left: 20%;
            right: 30%;
        }
    }
}

.statement-images--installing {
    margin-bottom: 40px;
    max-width: 660px;
    width: 100%;

    .new:after {
        @include circle(100%, 60px);
        background: $color-grey-light-bg;
        border: 3px solid $color-reverse-heading;
        box-shadow: 0 1px 5px 0 rgba(50,50,50,.25);
        content: 'NEW';
        display: block;
        height: 60px;
        left: 3%;
        line-height: 3.5;
        position: absolute;
        top: 15%;
        width: 60px;
        z-index: 30;
    }
    .old:after {
        @include circle(100%, 60px);
        background: $color-grey-light-bg;
        border: 3px solid $color-reverse-heading;
        box-shadow: 0 1px 5px 0 rgba(50,50,50,.25);
        content: 'OLD';
        display: block;
        height: 60px;
        line-height: 3.5;
        right: 5%;
        position: absolute;
        top: 67%;
        width: 60px;
        z-index: 30;
    }
    .statement-image {
        border: 5px solid $color-reverse-heading;
        box-shadow: 0 1px 7px 0 rgba(50,50,50,.25);
        height: 300px;
        margin: 0 10px;
        position: relative;
    }
}

.replacing {
    background-image: url('../images/replacing-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20%;
    
    .first {
        padding-right: 27%;
    }

    .last {

        .incentive {
            @include circle(100%, 130px);
            background: $color-blue;
            color: $color-reverse-heading;
            float: left;
            font-size: .875em;
            line-height: 1.25em;
            height: 130px;
            margin: 0 10px;
            padding-top: 22px;

            .big {
                font-size: 3em;
                font-weight: bold;
                line-height: 1.15em;
            }
        }
    }
}

.after-installation {
    background-image: url('../images/after-installing-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .brochure {
        bottom: -420px;
        position: absolute;
        right: 0;
        z-index: 20;
    }
    .first {
        padding-right: 20%;
    }
}

/*-----------------------
  @PRODUCTS
------------------------*/
.products {
    background-image: url('../images/products-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.accessories {
    padding: 5% 0;
    text-align: center;
}

/*-----------------------
  @RESIDENTIAL SKYLIGHTS
------------------------*/
.hero--residential {
    background-image: url('../images/residential-hero.jpg');
    background-size: cover;
    height: 900px;

    .vcard {
        width: 275px;
    }
}

.product-row {
    color: $color-default-light;

    .product-title {
        color: $color-default;
        display: inline-block;
        margin-top: 1em;

        &:hover {
            text-decoration: none;
        }
    }
    p {
        margin: {
            bottom: 10px; 
            top: 0;
        }
    }
}

/*-----------------------
  @BROCHURES
------------------------*/
.brochures {
    text-align: center;

    .brochure {
        margin-bottom: 3.5em;

        .brochure__image {
            margin-bottom: 1em;
        }
        a {
            text-transform: uppercase;
        }
        h5 {
            margin-bottom: 0;
            text-transform: none;
        }
        p {
            margin: {
                bottom: 1.25em;
                top: .3em;
            }
        }
    }
}

/*-----------------------
  @WARRANTY
------------------------*/