.bg-grey {
    background: $color-grey-light-bg;
}
.bg-grey-dark {
    background: $color-grey-dark;
}

%border-top-grey {
    border-top: 1px solid $color-secondary;
}
.border-top-grey {
    @extend %border-top-grey;
}

.page {
    background: #fff;
    margin: {
        left: auto;
        right: auto;
    }
    max-width: $page-max-width;
    /*padding-top: $masthead-height;*/
}

%page-row {
    padding: 10% 5%;
}
.page-row {
    @extend %page-row;

    @include bp($foundation-large) {
        padding: {
            bottom: 5%;
            top: 5%;
        }
    }
    @include bp($my-very-large) {
        padding: {
            left: 10%;
            right: 10%;
        }
    }
}
.page-row--snug {
    padding: {
        left: 5%;
        right: 5%;
    }
}
.page-row--squeezed {
    padding: {
        left: 20%;
        right: 20%;
    }

    @include bp($foundation-small, $mobile-landscape) {
        padding: {
            left: 10%;
            right: 10%;
        }
    }
}
.page-row--short {
    padding: {
        bottom: 3%;
        top: 3%;
    }
}
.page-row--tall {
    padding: {
        bottom: 15%;
        top: 15%;
    }

    @include bp($mobile-landscape) {
        padding: {
            bottom: 10%;
            top: 10%;
        }
    }
}
.page-row--extra-tall {
    padding: {
        bottom: 13%;
        top: 13%;
    }
}

%snug-bottom {
    padding-bottom: 0;
}
.snug-bottom {
    @extend %snug-bottom;
}