div, section, article, header, footer, h1, h2, h3, h4, h5, h6, p, ol, ul, li, a, span {
    position: relative;
}

/*-----------------------
  @HTML
------------------------*/
html {

}

/*-----------------------
  @BODY
------------------------*/
body {
    background: #272b2c;
    color: $color-default;
    font-family: $font-family-default;
    font-size: $font-size-default * .875; // set to 14px on mobile
    line-height: $line-height-default;

    @include bp($mobile-landscape) {
        font-size: $font-size-default; // default set to 16px
    }
    @include bp($my-very-large) {
        font-size: $font-size-default * 1.125; // allow 18px on large screens
    }
}

::selection {
    background: #000;
    color: #fff;
}

/*-----------------------
  @SECTIONS
------------------------*/
section {
    @extend %cf;
}

/*-----------------------
  @HEADING

  http://joshnh.com/2011/08/03/how-to-set-up-a-baseline-grid/
------------------------*/
h1, h2, h3, h4, h5, h6 {
    @extend %font-display;
    margin-top: 0;
    /*text-transform: uppercase;*/
}

%h1 {
    font-size: 2em; /* 32 / 16 */
    line-height: 1.333333333333333em; /* (24 * 2) / 36 (double) */
    margin-bottom: .6666666666666667em; /* 24 / 36 */
}
h1 {
    @extend %h1;
}

%h2 {
    font-size: 1.5em; /* 24 / 16 */
    line-height: 1.5em; /* 24 / 24 */
    margin-bottom: 1em; /* 24 / 24 */
}
h2 {
    @extend %h2;
}

%h3 {
    font-size: 1.3125em; /* 21 / 16 */
    line-height: 1.142857142857143em; /* 24 / 21 */
    margin-bottom: 1.142857142857143em; /* 24 / 21 */
}
h3 {
    @extend %h3;
}

%h4 {
    font-size: 1.125em; /* 18 / 16 */
    line-height: 1.333333333333333em; /* 24 / 18 */
    margin-bottom: 1.333333333333333em; /* 24 / 18 */
}
h4 {
    @extend %h4;
}

%h5 {
    font-size: 1em; /* 16 / 16 */
    line-height: 1.5em; /* 24 / 16 */
    margin-bottom: 1.5em; /* 24 / 16 */
}
h5 {
    @extend %h5;
}

%h6 {
    font-size: .875em; /* 14 / 16 */
    line-height: 1.25em; /* 20 / 16 */
    margin-bottom: 1.25em; /* 20 / 16 */
}
h6 {
    @extend %h6;
}

/*-----------------------
  @PARAGRAPH
------------------------*/
p {
    font-size: 1em; /* 16 / 16 */
    line-height: 1.5em; /* 24 / 16 */
    margin-bottom: 1.5em; /* 24 / 16 */
}

/*-----------------------
  @LIST
------------------------*/
ol {

}

ul {

}

li {

    ol & {

    }
    ul & {

    }
}

/*-----------------------
  @LINK
------------------------*/
%a {
    @extend %font-display;
    color: $color-primary;
    text-decoration: none;
}
%a-hover {
    @extend %underlined;
}
a {
    @extend %a;

    &:hover,
    &.link--hover {
        @extend %a-hover;
    }
    &:active,
    &.link--active {
        @extend %a-active;
    }
    &:focus,
    &.link--focus {
        @extend %a-focus;
    }
    &:visited,
    &.link--visited {
        @extend %a-visited;
    }
}

/*-----------------------
  @EM
------------------------*/
em {
    @extend %italic;
}

/*-----------------------
  @U
------------------------*/
u {
    @extend %underlined;
}

/*-----------------------
  @I
------------------------*/
i {
    font-style: normal;
}

/*-----------------------
  @NAV
------------------------*/
nav {
    ul {
        @extend %unstyled;
    }
}

/*-----------------------
  @MENU
------------------------*/
menu {
    margin: 0;
    padding: 0;
}

/*-----------------------
  @BLOCKQUOTE
------------------------*/
blockquote {

}

/*-----------------------
  @FIELDSET
------------------------*/
fieldset {

}

/*-----------------------
  @LEGEND
------------------------*/
legend {

}

/*-----------------------
  @BUTTON
------------------------*/
%button {
    @extend %a;
    @extend %bold;
    @extend %centered;
    @extend %upper;
    background: $color-primary;
    border: none;
    color: $color-reverse-heading;
    display: inline-block;
    font-size: 0.875em;
    outline: none;
    padding: .85em 1.5em .85em;
}
button {
    @extend %button;
}

/*-----------------------
  @INPUT
------------------------*/

%general-input {

    &:focus {
        background: $color-grey-light-bg;
        outline: none;
    }
}

input[type="text"] {
    @extend %general-input;
}

input[type="tel"] {
    @extend %general-input;
}

input[type="email"] {
    @extend %general-input;
}

input[type="url"] {
    @extend %general-input;
}

input[type="password"] {
    @extend %general-input;
}

input[type="file"] {

}

input[type="radio"] {

    &:checked {

    }
}

input[type="checkbox"] {

    &:checked {

    }
}

input[type="button"] {
    @extend %button;
}

input[type="submit"],
button[type="submit"] {
    @extend %button;
}

/*-----------------------
  @LABEL
------------------------*/
label {

}

/*-----------------------
  @SELECT
------------------------*/
select {

}

/*-----------------------
  @TEXTAREA
------------------------*/
textarea {
    @extend %general-input;
}
